@use 'global/common' as global;

/* ------------------------------
 ボタングループ
------------------------------- */
.acms-btn-group {
  position: relative;
  display: inline-flex;
  padding-left: 0;
  vertical-align: middle;

  > .acms-btn,
  > .acms-btn-admin {
    position: relative;
    flex: 0 1 auto;

    // height: global.$acms-form-height-sp;
    margin-right: 0;
    border-radius: 0;

    &:first-child {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }

    &:last-child {
      margin-right: 0;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }

  > * + * {
    border-left: 0;
  }
}
