@use 'global/common' as global;

/* ソースコード */
.code-highlight {
  max-width: 100%;
  padding: 15px;
  margin: 0 0 28px;
  overflow: auto;
  border: solid 1px global.$acms-color-gray50;
  border-radius: 5px;
}

.acms-pre,
.acms-style pre {
  padding: 10px;
  word-wrap: break-word;
  white-space: pre-wrap;
  background-color: global.$acms-color-gray10;
  border: solid 1px global.$acms-color-gray50;
  border-radius: 5px;
}

.acms-pre code,
.acms-style code,
.acms-code {
  padding: 2px 5px;
  margin: 0 5px;
  color: global.$acms-color-danger90;
  background-color: global.$acms-color-danger10;
  border: 1px solid global.$acms-color-danger20;
  border-radius: 3px;
}

.acms-pre,
.acms-pre code,
.acms-pre kbd,
.acms-pre samp,
.acms-style pre,
.acms-style code,
.acms-style kbd,
.acms-style samp,
.acms-code {
  font-family: global.$acms-code-font-family;
}
