@use 'global/common' as global;

/* ------------------------------
 トピックパス
------------------------------- */
.acms-topicpath {
  padding: 0;
  margin: 0 0 10px;
  line-height: 1;
  list-style: none;

  @include global.font-size(11);

  li {
    float: left;
    margin-right: 5px;
    color: global.$acms-color-gray80;

    + li::before {
      margin-right: 5px;
      color: global.$acms-color-gray80;
      content: '/';
    }
  }

  a {
    line-height: 1;
    color: global.$acms-color-black;

    @include global.font-size(11);

    &:link {
      text-decoration: none;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
