@charset "utf-8";

// 変数
@use 'global/common' as global;

/* ------------------------------
 会員ページ ベース
------------------------------- */
@include global.media-breakpoint-up(sm) {
  body {
    background-color: global.$acms-color-system-gray10;
  }
}

/* ------------------------------
 会員ページ レイアウト
------------------------------- */

/* コンテナー */
.acms-member-container {
  max-width: 480px;
  margin: 0 auto 80px;
  overflow: hidden;
  background-color: global.$acms-color-white;
}

@include global.media-breakpoint-up(sm) {
  .acms-member-container {
    margin-top: 100px;
    margin-bottom: 60px;
    border-radius: var(--member-radius-container);
    box-shadow: rgb(100 100 111 / 20%) 0 7px 29px 0;
  }
}

/* メインコンテンツボックス */
.acms-member-main-box {
  padding-right: var(--member-space-container-x);
  padding-left: var(--member-space-container-x);
  margin-bottom: var(--member-space-section-y);
}

/* 新規登録・退会・離脱ボタンボックス */
.acms-member-main-box-bottom {
  padding-right: var(--member-space-container-x);
  padding-left: var(--member-space-container-x);
  margin-top: var(--member-space-section-y);
}

@include global.media-breakpoint-up(sm) {
  .acms-member-main-box-bottom {
    padding-top: var(--member-space-section-y);
    padding-bottom: var(--member-space-section-y);
    border-top: 1px solid var(--member-color-border-section);

    @include global.round-bottom(var(--member-radius-container));
  }
}

/* ------------------------------
 会員ページ パーツ
------------------------------- */

/* ヘッダー画像 */
.acms-member-header-img {
  display: block;
  width: 100%;
  height: auto;
  max-height: 140px;
  margin-bottom: var(--member-space-section-y);
  object-fit: contain;
  object-position: center;
}

/* アクションボタンラップ */
.acms-member-action {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* 見出し */
.acms-member-page-title {
  margin-top: 0;
  margin-bottom: var(--member-space-section-y);
  font-weight: bold;
  line-height: 1.2;
  color: global.$acms-color-gray80;
  text-align: center;

  @include global.font-size(22);
}

/* 左右ボーダー付きテキスト */
.acms-member-border-text-outer {
  position: relative;
  width: 100%;
  margin: var(--member-space-section-y) 0;
  text-align: center;

  &::before {
    position: absolute;
    left: 0;
    padding: 0 0 0 100%;
    margin: 10px 0 0;
    content: '';
    border-top: 1px solid var(--member-color-border-section);
  }
}

.acms-member-border-text {
  position: relative;
  padding: 0 10px;
  line-height: 1.4;
  color: global.$acms-color-black;
  background: global.$acms-color-white;

  @include global.font-size(13);
}

/* 説明テキスト */
.acms-member-notice-text {
  margin: 20px 0;
  font-weight: bold;
  line-height: 1.4;
  color: global.$acms-color-black;

  @include global.font-size(13);
}

/* リンクテキスト */
.acms-member-text-link {
  line-height: 1.5;
  text-decoration: none;

  @include global.font-size(14);

  &:link,
  &:visited,
  &:focus,
  &:active {
    color: var(--member-color-text);
  }

  &:hover {
    color: var(--member-color-text-hover);
  }
}

/* ------------------------------
 会員ページ フォームパーツ
------------------------------- */

/* フィールドセット */
.acms-member-form-fieldset {
  padding: 0;
  margin: var(--member-space-form-item-top) 0 0;
  border: 0;
}

/* フォームラベル */
.acms-member-form-label {
  display: block;

  /* legendタグスタイルリセット */
  padding: 0;
  margin-top: var(--member-space-form-item-top);
  margin-bottom: 3px;
  line-height: 1.4;
  border: 0;

  @include global.font-size(14);
}

/* 注意文 */
.acms-member-input-caution {
  margin: 6px 0 0;
  font-weight: bold;
  line-height: 1.4;
  color: var(--member-color-error);

  @include global.font-size(13);
}

/* validatorスタイルで入力欄が非表示にならないよう上書き */
.acms-member-main-box input.validator-result- {
  display: block;
}

/* エラー時の入力欄スタイル */
.acms-member-main-box input.validator-result-0 {
  border-color: var(--member-color-error);
}

/* ------------------------------
 会員ページ ソーシャルログイン
------------------------------- */

/* ソーシャルログインリスト */
.acms-member-sns-btn-list {
  margin-bottom: 20px;
}

.acms-member-sns-btn-item {
  & + & {
    margin-top: 20px;
  }
}

/* ソーシャルログインボタン */
.acms-member-sns-btn-item .acms-btn {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  height: var(--member-height-sns-btn);
  padding: 0;
  overflow: hidden;
  border-radius: global.$acms-btn-large-border-radius;

  &::before {
    position: absolute;
    inset: 0;
    z-index: 1;
    content: '';
    background-color: transparent;
    transition: background-color 0.2s;
  }

  &:hover::before {
    background-color: rgb(0 0 0 / 10%);
  }

  &:active::before {
    background-color: rgb(0 0 0 / 30%);
  }
}

/* ソーシャルログインボタンアイコン */
.acms-member-sns-btn-icon-outer {
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  display: grid;
  place-content: center;
  width: calc(var(--member-height-sns-btn) - (var(--member-border-width-btn-sns) * 2));
}

.acms-member-sns-btn-icon {
  display: inline-block;
  height: auto;
}

/* ソーシャルログインボタンテキスト */
.acms-member-sns-btn-text {
  position: relative;
  z-index: 2;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  border-left-style: solid;
  border-left-width: var(--member-border-width-btn-sns);
}

/* ソーシャルログインボタンのカラー変化
------------------------------ */

/* Googleログインボタン */
.acms-member-sns-btn-google {
  &,
  &:hover,
  &:focus,
  &:active {
    color: #333;
    background-color: #fff;
    border-color: #cecece;
  }

  .acms-member-sns-btn-text {
    border-color: rgb(0 0 0 / 8%);
  }
}

/* LINEログインボタン */
.acms-member-sns-btn-line {
  &,
  &:hover,
  &:focus,
  &:active {
    color: #fff;
    background-color: #06c755;
    border-color: #06c755;
  }

  .acms-member-sns-btn-text {
    border-color: rgb(0 0 0 / 8%);
  }
}

/* Xログインボタン */
.acms-member-sns-btn-x {
  &,
  &:hover,
  &:focus,
  &:active {
    color: #fff;
    background-color: #000;
    border-color: #000;
  }

  .acms-member-sns-btn-text {
    border-color: rgb(255 255 255 / 35%);
  }

  /* Xのみダーク系のためhoverカラーを反転 */
  &.acms-btn:hover::before {
    background-color: rgb(255 255 255 / 25%);
  }

  &.acms-btn:active::before {
    background-color: rgb(255 255 255 / 45%);
  }
}

/* ------------------------------
 会員ページ 会員情報テーブル
------------------------------- */
$_member-subscribe-table-font-size-th: 14;
$_member-subscribe-table-font-size-td: 16;
$_member-subscribe-table-line-height: 1.4;

/* インプットテーブル（縦並び） */
.acms-member-inputs {
  width: 100%;
  line-height: $_member-subscribe-table-line-height;
  color: global.$acms-color-black;

  &,
  tbody,
  tr,
  th,
  td {
    display: block;
  }

  th,
  td {
    padding: 0 0 4px;
  }

  tr + tr {
    margin-top: 20px;
  }

  th {
    font-weight: bold;
    text-align: left;

    @include global.font-size(#{$_member-subscribe-table-font-size-th});
  }

  td {
    @include global.font-size(#{$_member-subscribe-table-font-size-td});
  }
}

/* インプットテーブル（横並び） */
.acms-member-inputs-col {
  width: 100%;
  line-height: $_member-subscribe-table-line-height;
  color: global.$acms-color-black;

  th {
    width: 140px;
    padding: 0 10px 4px 0;
    font-weight: bold;
    text-align: left;
    vertical-align: middle;

    @include global.font-size(#{$_member-subscribe-table-font-size-th});
  }

  td {
    padding: 0 10px 4px 0;
    vertical-align: middle;

    @include global.font-size(#{$_member-subscribe-table-font-size-td});
  }
}

/* 確認用テーブル */
.acms-member-confirm {
  width: 100%;
  line-height: $_member-subscribe-table-line-height;
  color: global.$acms-color-black;

  &,
  tbody,
  tr,
  th,
  td {
    display: block;
  }

  th,
  td {
    padding: 0 0 4px;
  }

  tr {
    border-bottom: 1px solid var(--member-color-border-section);
  }

  tr + tr {
    margin-top: 16px;
  }

  th {
    font-weight: bold;
    text-align: left;

    @include global.font-size(#{$_member-subscribe-table-font-size-th});
  }

  td {
    @include global.font-size(#{$_member-subscribe-table-font-size-td});
  }
}

/* 位置情報 */
.acms-member-geo {
  font-size: 0;
  line-height: 0;

  /* 位置情報キーワード検索入力欄 */
  input[type='text'].js-editable_map-search_text,
  input[type='text'].js-osm-search {
    box-sizing: border-box;
    display: inline-block;
    width: calc(100% - 70px);
    margin-right: 5px;
  }

  /* 位置情報キーワード検索ボタン */
  .js-editable_map-search_button,
  .js-osm-search-btn {
    box-sizing: border-box;
    width: 50px;
  }

  /* 地図がはみ出さないよう調整 */
  .acms-admin-gmap-box,
  .acms-admin-form-group {
    box-sizing: border-box;
    width: 100% !important;
    margin-bottom: 5px;
  }

  /* 緯度・軽度・ズーム入力欄ラベル */
  label {
    box-sizing: border-box;
    display: inline-block;
    width: 50px;
    padding-right: 10px;
    margin-top: 10px;
    font-weight: bold;
    line-height: 1;
    vertical-align: middle;

    @include global.font-size($_member-subscribe-table-font-size-th);
  }

  /* 緯度・軽度・ズーム入力欄 */
  .acms-admin-form-width-mini {
    box-sizing: border-box;
    display: inline-block;
    width: calc(100% - 60px);
    max-width: calc(100% - 60px);
    margin-top: 10px;
  }
}

/* ------------------------------
 会員ページ サインイン
------------------------------- */
@keyframes acms-member-signin-load {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.acms-member-signin-load {
  animation-name: acms-member-signin-load;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-fill-mode: forwards;
}
