{% extends '/_layouts/base.twig' %}

{% block main %}
  <div class="max-w-3xl mx-auto">
    <h2 class="text-gray-900 font-bold text-2xl mb-10">{{ CATEGORY_NAME }}</h2>
    {{ include('/contact/form/main.twig') }}
  </div>
{% endblock %}

{% block cta %}

{% endblock %}
