// ------------------------------
// タイポグラフィ
// ------------------------------
@mixin line-clamp($lines: 3) {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
}
