:where(.prose) *:first-child,
:where(.prose) *:first-child.column-block-editor > *:first-child, /* ブロックエディター内 */
/* stylelint-disable-next-line selector-class-pattern */
:where(.prose) *:first-child.js-edit_inplace > *:first-child, /*ダイレクト編集時 */
/* stylelint-disable-next-line selector-class-pattern */
:where(.prose) *:first-child.js-edit_inplace-hovering + .js-edit_inplace > *:first-child /*ダイレクト編集時にホバー */ {
  /* コンテンツの初めの要素には上余白をつけない */
  margin-block-start: 0;
}

:where(.prose) .acms-cssgrid {
  --acms-gap: var(--unit-gap-x);
}

:where(.prose) .acms-stack,
:where(.prose) .acms-vstack,
:where(.prose) .acms-hstack {
  --acms-stack-spacing: var(--unit-gap-x);
}
