<form action="{{ HOME_URL }}" method="post" role="search">
  <input type="hidden" name="bid" value="{{ BID }}" />
  <div class="relative w-full mx-auto">
    <input
      type="text"
      name="keyword"
      placeholder="検索キーワード"
      value="{{ KEYWORD }}"
      class="flex w-full h-10 px-3 pr-10 py-2 bg-white border rounded-md border-gray-200 ring-offset-background placeholder:text-gray-400 focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-neutral-400 disabled:cursor-not-allowed disabled:opacity-50 text-gray-900"
    />
    <button type="submit" name="ACMS_POST_2GET" class="absolute inset-y-0 right-3 text-gray-900 cursor-pointer">
      <span class="sr-only">検索</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
        />
      </svg>
    </button>
  </div>
</form>
