/* ------------------------------
　　CSSカスタムプロパティ
------------------------------ */
:root {

  /* カラー */
  --color-primary           : #35853D;
  --color-primary-hover     : #2C6F33;
  --color-primary-light     : #F1F7F1;
  --color-primary-bg        : var(--color-primary-light);
  --color-primary-bg-hover  : #D2E4D3;

  --color-secondary         : #6A6A6A;

  --color-highlight         : #FFE13B;
  --color-highlight-light   : #FFFB8B;

  --color-white             : #FFF;
  --color-black             : #333333;

  --color-gray10            : #F8F8F8;
  --color-gray20            : #F4F4F4;
  --color-gray30            : #EBEBEB;
  --color-gray40            : #DDDDDD;
  --color-gray50            : #CCCCCC;
  --color-gray60            : #AAAAAA;
  --color-gray70            : #999999;
  --color-gray80            : #777777;
  --color-gray90            : #666666;
  --color-gray100           : #333333;

  --color-form-bg           : var(--color-gray10);
  --color-form-border       : var(--color-gray40);

  --color-link              : var(--color-gray100);

  --color-required          : #c92d2d;
  --color-error             : #c92d2d;

  --color-text              : var(--color-gray100);
  --color-text-side         : var(--color-gray90);
  --color-text-inverse      : var(--color-white);

  --color-text-primary      : var(--color-primary);
  --color-text-secondary    : var(--color-secondary);

  --box-shadow-focus        : 0 0 0 .25rem rgba(19, 122, 243, .4);
  --box-shadow-error        : 0 0 0 .25rem rgba(201, 45, 45, .4);

  /* ガター */
  --theme-gap-sm-x          : 1rem;
  --theme-gap-md-x          : 2rem;
  --theme-gap-x             : var(--theme-gap-md-x);

  /* 余白ユニット */
  --unit-space-sm           : 2rem;
  --unit-space-md           : 3rem;
  --unit-space-lg           : 4rem;

  /* 罫線ユニット余白 */
  --separator-sm            : 2rem;
  --separator-md            : 3rem;
  --separator-lg            : 4rem;

  /* systemでも参照しているプロパティを定義 */
  --unit-gap-x              : var(--theme-gap-x);
  --unit-margin-top         : 0;
  --unit-margin-bottom      : 2rem;
}
