// ---------------
// コンテンツアイテムメニュー
// ---------------

.acms-block-editor-content-item-menu {
  display: flex;
  align-items: center;
  margin-top: 4px;
  margin-right: -4px;

  .acms-block-editor-icon {
    width: 1.25rem;
    height: 1.25rem;
  }
}
