// ---------------
// ポップオーバー内フォーム
// ---------------
.acms-block-editor-popover-form-item {
  margin-bottom: 12px;
}

.acms-block-editor-popover-form-item-label {
  display: block;
  margin-bottom: 4px;
}

.acms-block-editor-popover-form-button-group {
  display: flex;
  gap: 12px;
  align-items: center;
}
