// ---------------
// サーフェス
// ---------------

.acms-block-editor-surface {
  background-color: #fff;
  border-radius: var(--acms-block-editor-border-radius-md);
  box-shadow: var(--acms-block-editor-shadow-sm);
}
