@use "sass:map";

// ------------------------------
//　設定
// ------------------------------
$enable-iphonex: true;

// ------------------------------
//　ファイルのパス
// ------------------------------
$icon-font-path: "/themes/system/fonts/"; // フォントのパスを上書き
$root-theme-img: "/images/";

// ------------------------------
//　フォント
// ------------------------------
/* stylelint-disable max-line-length */
$font-size: 1rem;
$font-scale: 1.25;
$font-scales: (
  heading-3xl: $font-size * $font-scale * $font-scale * $font-scale * $font-scale * $font-scale * $font-scale,
  heading-2xl: $font-size * $font-scale * $font-scale * $font-scale * $font-scale * $font-scale,
  heading-l  : $font-size * $font-scale * $font-scale * $font-scale * $font-scale,
  heading-m  : $font-size * $font-scale * $font-scale * $font-scale,
  heading-s  : $font-size * $font-scale * $font-scale,
  heading-ss : $font-size * $font-scale,
  heading-3s : $font-size,

  body-l     : $font-size * $font-scale,
  body-m     : $font-size,
  body-s     : calc($font-size / $font-scale));
/* stylelint-enable max-line-length */
