{% set links = module('V2_Links', moduleId) %}

{% if links.items is not empty %}
  <nav class="flex flex-wrap justify-center -mx-5 -my-2">
    {{ include('/admin/module/setting.twig', { moduleInfo: links.moduleInfo }) }}
    {% for link in links.items %}
      <div class="px-5 py-2">
        <a href="{{ link.url }}" class="text-base leading-6 text-gray-500 hover:text-gray-900">{{ link.name }}</a>
      </div>
    {% endfor %}
  </nav>
{% endif %}
