@use "global/acms-common" as acms;
@use "global/common" as global;

/* ------------------------------
　　バナー
------------------------------ */
.banner {
	padding: 0 0 7px;
  margin: 0 -10px;
	list-style-type: none;

  @include acms.clearfix;
}

.banner li {
  float: left;
	display: block;
  max-width: 100%;
  padding: 0 10px;
	margin-bottom: 13px;
}

.banner a {
	display: block;
	opacity: 1;

	@include global.transition-opacity;

	&:hover {
		opacity: global.$opacity-hover;
		filter: progid:dximagetransform.microsoft.alpha(opacity=70);
		filter: alpha(opacity=70);
	}
}

.banner img {
	line-height: 0;
}
