@use "global/acms-common" as acms;
@use "global/common" as global;

/* ----------------
コメント
------------------ */
.comment-form {
  margin-bottom: 50px;
}

.comment-table {
  width: 100%;
  margin-bottom: 15px;
  border-top: none;

  th {
    width: 140px;
    padding: 5px 20px 5px 0;
    font-weight: normal;
    line-height: 24px;
    vertical-align: top;
    color: #000;
    text-align: left;
    white-space: nowrap;
    border-bottom: none;

    @include acms.font-size(14);
  }

  td {
    padding: 5px 0;
    border-bottom: none;
  }

  input[type="text"],
  input[type="password"] {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    line-height: 40px;
    border: 1px solid #b2b2b4;
    border-radius: 3px;

    @include acms.font-size(16);
  }

  textarea {
    width: 100%;
    padding: 0 10px;
    line-height: 40px;
    border: 1px solid #b2b2b4;
    border-radius: 3px;

    @include acms.font-size(16);
  }

  @include acms.media-breakpoint-down(md) {
    display: block;

    & tbody,
    & td,
    & th,
    & tr {
      display: block;
      width: auto;
    }
  }
}

.comment-btn,
.comment-btn-inline {
  width: 152px;
  padding: 10px 0;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 5px;

  @include acms.font-size(14);
}

.comment-btn {
  display: block;
  margin: 0 auto;

  @include global.roll-over-bg-color(global.$btn-color, global.$btn-color-on-hover, global.$transition-speed);
}

.comment-btn-inline {
  display: inline-block;

  @include global.roll-over-bg-color(#949494, global.$bg-color-dark, global.$transition-speed);
}

.comment-list {
  padding: 0;
  margin: 0 0 20px;

  & li {
    display: block;
    padding: 15px 0 0;
    list-style-type: none;
    border-top: 1px solid global.$border-color-dark;

    &:last-child{
      border-bottom: none;
    }
  }

  & > ol{
    padding-left: 0;

  }

  & li:last-child{
    border-bottom: none;
  }

  & ul {
    display: block;
    padding-left:20px;
    border-top: 1px solid global.$border-color-dark;
  }

  & > li > ul{
    padding-left: 0;
    border-top: none;
  }
}


.comment-list-title {
  margin: 0 0 15px;
  font-weight: bold;
  color: global.$text-color-base;

  @include acms.font-size(18);

  a {
    color: global.$text-color-base;

    &:link,
    &:visited {
      color: global.$text-color-base;
    }
  }
}

.comment-list-text {
  margin: 0 0 15px;
  color: global.$text-color-base;

  @include acms.font-size(16);
}

.comment-list-info {
  padding-bottom: 15px;
  margin: 0;
  color: #636363;
  text-align: right;

  @include acms.font-size(14);
}
