@use "global/acms-common" as acms;
@use "global/common" as global;

/* ----------------
エントリーの部分
------------------ */
.entry {
  margin-bottom: 40px;
  overflow-wrap: break-word;

  &.-index {
    padding-bottom: 20px;
    border-bottom: 1px solid global.$border-color-base;
  }
}

.entry-header {
  padding-top: 10px;
  margin-bottom: 24px;

  @include acms.media-breakpoint-up(sm) {
    margin-bottom: 32px;
  }
}

.entry-date {
  margin: 0 0 5px;
  line-height: 1;
  vertical-align: middle;
  color: global.$text-color-light;

  @include acms.font-size(14);
}

.entry-new {
  display: inline-block;
  padding: 3px 7px;
  font-size: 10px;
  font-weight: bold;
  line-height: 1;
  vertical-align: middle;
  color: #FFF;
  background-color: global.$key-color;
  border-radius: 5px;
  transition: background-color global.$transition-speed;
}

.entry .entry-title {
  margin: 0 0 15px;
  font-size: 28px;
  line-height: 1.4;
  color: global.$text-color-base;

  a {
    @include global.link-color(global.$text-color-base);

    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.entry-labels {
  padding: 0;
  margin: 0 0 10px;
  line-height: 1;
  list-style-type: none;
}

.entry-labels li {
  display: inline-block;
  padding: 0 4px 4px 0;
  line-height: 1.2;
  color: global.$text-color-light;

  @include acms.font-size(14);

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}

.entry-labels a {
  display: inline-block;

  @include global.only-underline-on-hover;
}

.entry-category-label,
.entry-tag-label {
  @include global.link-color(global.$text-color-light);
}

/* 続きを読むボタン */
.entry-continue-btn {
  display: block;
  max-width: 100%;
  padding: 5px 20px;
  margin: 15px 0;
  text-align: center;
  border: 1px solid global.$key-color;
  border-radius: 5px;

  @include acms.font-size(14);
  @include acms.clearfix;
  @include global.link-color(global.$key-color);
  @include global.text-decoration-none;
  @include global.roll-over-bg-color(transparent, rgba(0, 0, 0, 0.05), global.$transition-speed);
}

.entry-footer {
  margin-top: 40px;

  .profile {
    padding: 30px;
    background-color: global.$bg-color-base;
  }

  .profile-info {
    display: block;
    text-align: center;
  }

  .profile-img {
    margin: 0 auto 12px;
  }

  .profile-text {
    margin: 0;
  }
}

/* 更新日時とsnsの全体 */
.entry-info {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 10px;
}

/* 更新日時 */
.entry-udate-info {
  margin: 3px 15px 0 0;
  color: global.$text-color-light;

  @include acms.font-size(12);
}

/* SNSシェア */
.share-wrapper {
  float: right;
}

.share-text {
  float: left;
  display: inline;
  margin: 0;
}

.share-list {
  float: right;
  display: inline;
  padding: 0;
  margin: 0;
  list-style: none;
}

.share-item {
  display: inline-block;
  margin: 0 0 0 10px;
  vertical-align: top;

  a {
    display: block;
    color: #999;
    text-decoration: none;

    @include global.transition-opacity;

    &:hover {
      opacity: global.$opacity-hover;
    }
  }

  [class*='acms-icon'] {
    vertical-align: middle;

    @include acms.font-size(16);
  }

  .share-item-facebook {/* Facebook */
    @include global.share-sns-btn(global.$facebook-color);
  }

  .share-item-twitter {/* Twitter */
    @include global.share-sns-btn(global.$x-color);
  }
}

/* ----------------
acms.cssの上書き
------------------ */
@include acms.media-breakpoint-down(md) {
  .entry-title {
    @include acms.font-size(18);
  }
}
