@use '../global/common' as global;

// ------------------------------
// タブセレクト
// ------------------------------
.acms-tab-text {
  display: block;
  max-width: 300px;
  margin-top: 4px;

  @include global.font-size(12);
}

.fixed .acms-tab-text {
  display: none;
}
