@use 'sass:math';
@use '../global/common' as global;

// ------------------------------
// エントリ一覧ページ
// ------------------------------
.acms-entryTitle {
  display: inline-block;
  font-weight: bold;

  @include global.font-size(13);
}

// エントリー
.acms-entryTitle {
  margin: 0;
}

// ------------------------------
// カテゴリー一覧ページ
// ------------------------------
.acms-title-sp {
  margin: 0;
}

// ------------------------------
// 子ブログ一覧ページ
// ------------------------------
.acms-blog-index-url {
  margin: 0;
}

// ------------------------------
// ページャ
// ------------------------------

.acms-itemsAmount-container {
  text-align: right;
}

.acms-itemsAmount-container p {
  margin: 0;

  @include global.font-size(13);
}

// ------------------------------
// テンプレート書出し管理画面
// ------------------------------
.acms-form-side-select {
  position: relative;
  display: table-cell;
  width: 1%;
  padding-right: 10px;
  white-space: nowrap;
  vertical-align: top;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.acms-form-action-width-select input[type='text']:last-child {
  border-left: global.$acms-form-border;
  border-top-left-radius: global.$acms-form-border-radius;
  border-bottom-left-radius: global.$acms-form-border-radius;
}

// ------------------------------
// エクスポート・インポート
// ------------------------------

.acms-exported-list {
  margin-bottom: 15px;

  li {
    padding-right: 5px;
  }
}

.acms-exported-label {
  font-size: 13px;
}
