@use '../global/common' as global;

// ------------------------------
// ベンチマーク
// ------------------------------
@include global.media-breakpoint-up(md) {
  .acms-benchmark-container {
    padding: 0 20px 0 245px;
    padding: 0 calc(30px + constant(safe-area-inset-right)) 0 20px;
  }
}
