@use '../global/common' as global;

// ------------------------------
// 管理画面固定ヘッダー
// ------------------------------
.js-acms_fix_marker {
  z-index: global.zIndex(js-acms_fix_marker);
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0 0 10px;
  background: global.$acms-color-white;

  &.js-acms-tab-select {
    margin-bottom: 0;
  }

  &[style*='position: fixed;'] {
    margin: 0;
    box-shadow: 0 3px 0 rgb(50 50 50 / 10%);
  }
}

.acms-fix-right {
  position: relative;
  z-index: global.zIndex(acms-fix-right);
}

// ------------------------------
// 管理画面 SmartPhoto
// ------------------------------
.is-admin-page .smartphoto {
  z-index: global.zIndex(smartphoto);
  background-color: rgb(0 0 0 / 90%);
}
