@use '../global/common' as global;

/* ------------------------------
 管理者ログイン ベース
------------------------------- */
@include global.media-breakpoint-up(sm) {
  .login-bg {
    background-color: #e5e5e9;
  }
}

/* ------------------------------
 管理者ログイン レイアウト
------------------------------- */

/* コンテナー */
.acms-login-container {
  max-width: 480px;
  margin: 0 auto 80px;
  overflow: hidden;
  background-color: global.$acms-color-white;
}

@include global.media-breakpoint-up(sm) {
  .acms-login-container {
    margin-top: 100px;
    margin-bottom: 60px;
    border-radius: var(--login-radius-container);
  }
}

/* メインコンテンツボックス */
.acms-login-main-box {
  padding-right: var(--login-space-container-x);
  padding-left: var(--login-space-container-x);
  margin-bottom: var(--login-space-section-y);
}

/* ネガティブアクションボタンボックス */
.acms-login-main-box-bottom {
  padding-right: var(--login-space-container-x);
  padding-left: var(--login-space-container-x);
  margin-top: var(--login-space-section-y);
}

@include global.media-breakpoint-up(sm) {
  .acms-login-main-box-bottom {
    @include global.round-bottom(var(--login-radius-container));

    padding-top: var(--login-space-section-y);
    padding-bottom: var(--login-space-section-y);
    border-top: 1px solid var(--login-color-border-section);
  }
}

/* ------------------------------
 管理者ログイン パーツ
------------------------------- */

/* ヘッダー画像 */
.acms-login-header-img {
  display: block;
  width: 100%;
  height: auto;
  max-height: 140px;
  margin-bottom: var(--login-space-section-y);
  object-fit: contain;
  object-position: center;
}

/* アクションボタンラップ */
.acms-login-action {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* 見出し */
.acms-login-page-title {
  margin-top: 0;
  margin-bottom: var(--login-space-section-y);
  font-weight: normal;
  text-align: center;

  .acms-admin-label {
    margin-right: 2px;
    margin-left: 2px;
  }
}

/* 左右ボーダー付きテキスト */
.acms-login-border-text-outer {
  position: relative;
  width: 100%;
  margin: var(--login-space-section-y) 0;
  text-align: center;

  &::before {
    position: absolute;
    left: 0;
    padding: 0 0 0 100%;
    margin: 10px 0 0;
    content: '';
    border-top: 1px solid var(--login-color-border-section);
  }
}

.acms-login-border-text {
  position: relative;
  padding: 0 10px;
  line-height: 1.4;
  color: global.$acms-color-black;
  background: global.$acms-color-white;

  @include global.font-size(13);
}

/* 説明テキスト */
.acms-login-notice-text {
  margin: 20px 0;
  font-weight: bold;
  line-height: 1.4;
  color: global.$acms-color-black;

  @include global.font-size(13);
}

/* リンクテキスト */
.acms-login-text-link {
  line-height: 1.5;
  text-decoration: none;

  @include global.font-size(14);

  &:link,
  &:visited,
  &:focus {
    color: global.$acms-color-link-text;
  }

  &:hover {
    color: global.$acms-color-link-text-hover;
  }

  &:active {
    color: global.$acms-color-link-text-active;
  }
}

/* ------------------------------
 管理者ログイン フォームパーツ
------------------------------- */

/* フォームラベル */
.acms-login-form-label {
  display: block;

  /* legendタグスタイルリセット */
  padding: 0;
  margin-top: 12px;
  margin-bottom: 3px;
  line-height: 1.4;
  border: 0;

  @include global.font-size(14);
}

/* 注意文 */
.acms-login-input-caution {
  margin: 6px 0 0;
  font-weight: bold;
  line-height: 1.4;
  color: var(--login-color-error);

  @include global.font-size(13);
}

/* validatorスタイルで入力欄が非表示にならないよう上書き */
.acms-login-main-box input.validator-result- {
  display: block;
}

/* エラー時の入力欄スタイル */
.acms-login-main-box input.validator-result-0 {
  border-color: var(--login-color-error);
}

/* ------------------------------
 管理者ページ ソーシャルログイン
------------------------------- */

/* ソーシャルログインリスト */
.acms-login-sns-btn-list {
  margin-bottom: 20px;
}

.acms-login-sns-btn-item {
  & + & {
    margin-top: 20px;
  }
}

/* ソーシャルログインボタン */
.acms-login-sns-btn-item .acms-btn {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  height: var(--login-height-sns-btn);
  padding: 0;
  overflow: hidden;
  border-radius: global.$acms-btn-large-border-radius;

  &::before {
    position: absolute;
    inset: 0;
    z-index: 1;
    content: '';
    background-color: transparent;
    transition: background-color 0.2s;
  }

  &:hover::before {
    background-color: rgb(0 0 0 / 10%);
  }

  &:active::before {
    background-color: rgb(0 0 0 / 30%);
  }
}

/* ソーシャルログインボタンアイコン */
.acms-login-sns-btn-icon-outer {
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  display: grid;
  place-content: center;
  width: calc(var(--login-height-sns-btn) - (var(--login-border-width-btn-sns) * 2));
}

.acms-login-sns-btn-icon {
  display: inline-block;
  height: auto;
}

/* ソーシャルログインボタンテキスト */
.acms-login-sns-btn-text {
  position: relative;
  z-index: 2;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  border-left-style: solid;
  border-left-width: var(--login-border-width-btn-sns);
}

/* ソーシャルログインボタンのカラー変化
------------------------------ */

/* Googleログインボタン */
.acms-login-sns-btn-google {
  &,
  &:hover,
  &:focus,
  &:active {
    color: #333;
    background-color: #fff;
    border-color: #cecece;
  }

  .acms-login-sns-btn-text {
    border-color: rgb(0 0 0 / 8%);
  }
}

/* LINEログインボタン */
.acms-login-sns-btn-line {
  &,
  &:hover,
  &:focus,
  &:active {
    color: #fff;
    background-color: #06c755;
    border-color: #06c755;
  }

  .acms-login-sns-btn-text {
    border-color: rgb(0 0 0 / 8%);
  }
}

/* Xログインボタン */
.acms-login-sns-btn-x {
  &,
  &:hover,
  &:focus,
  &:active {
    color: #fff;
    background-color: #000;
    border-color: #000;
  }

  .acms-login-sns-btn-text {
    border-color: rgb(255 255 255 / 35%);
  }

  /* Xのみダーク系のためhoverカラーを反転 */
  &.acms-btn:hover::before {
    background-color: rgb(255 255 255 / 25%);
  }

  &.acms-btn:active::before {
    background-color: rgb(255 255 255 / 45%);
  }
}
