@use '../global/common' as global;

// ------------------------------
// メインカラム
// ------------------------------
// メインカラム
#acms-admin-main {
  z-index: global.zIndex(acms-main);
  height: 100%;
  padding: 0;
}

.acms-nav + #acms-admin-main {
  padding-right: calc(global.$grid-space / 2);
  padding-right: calc((global.$grid-space / 2) + constant(safe-area-inset-right));
  padding-left: calc(global.$grid-space / 2);
}

#main {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 20px;
  padding-bottom: 20px;
}

#main #admin-main {
  position: relative;
  flex: 1 1 auto;
}

@include global.media-breakpoint-up(md) {
  .acms-nav + #acms-admin-main {
    padding: 0 20px 0 245px;
    padding: 0 calc(30px + constant(safe-area-inset-right)) 0 20px;
  }
}
