@use '../global/common' as global;

// ------------------------------
// トピックパス
// ------------------------------
.acms-system-topicpath {
  display: inline-block;
  padding: 0;
  margin: 0;
  list-style: none;

  @include global.font-size(14);

  img {
    border: 0;
    border-radius: 3px;
  }

  // 中の要素
  > li {
    display: inline-block;
    color: global.$acms-color-gray80;
    vertical-align: middle;
  }

  > li:not(.site-image) {
    + li::before {
      display: inline-block;
      width: 8px;
      height: 17px;
      margin-bottom: 3px;
      vertical-align: middle;
      content: ' ';
      background: url('../images/common/topicpath.svg') no-repeat center center;
      background-size: 25px 25px;
    }
  }

  // リンク
  .link {
    display: inline-block;
    padding: 10px 5px;
    line-height: 1;
    color: global.$acms-color-black;

    @include global.font-size(14);

    &:link {
      text-decoration: none;
    }

    &:hover {
      color: global.$acms-color-black;
      text-decoration: none;
      background: global.$acms-color-white;
      border-radius: 3px;
    }
  }
}

.acms-system-topicpath-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 5px 15px;
  margin: 0 0 20px;
  background: global.$acms-color-gray20;
  border-radius: 3px;
}

.acms-system-view-site-wrap {
  margin: 0 0 0 auto;
}

.acms-system-view-site {
  display: none;
  float: right;
  margin: 0;

  .acms-btn {
    background: global.$acms-color-white;
    border: 1px solid rgb(0 0 0 / 10%);

    &:hover {
      background: rgb(255 255 255 / 50%);
    }
  }
}

@include global.media-breakpoint-up(md) {
  .acms-system-view-site {
    display: inline-block;
  }
}

// ------------------------------
// トピックパス
// ------------------------------
@include global.media-breakpoint-down(md) {
  .acms-topicpath {
    // 右寄せしない
    &.acms-float-right {
      float: none;
    }
  }
}
