@use '../global/common' as global;

// 文字のトリム
.acms-text-ellipsis-container {
  overflow: hidden;
  white-space: nowrap;
}

.acms-text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// テーブルセルのとき
.acms-text-ellipsis-table-cell {
  max-width: 1px;
}

.acms-module-title-sub {
  margin: 0 0 5px;
  font-size: 14px;
}

.acms-module-title-main {
  display: block;
  margin: 0 0 15px;
  clear: both;

  .acms-module-title {
    margin: 0;
    font-size: 20px;
    line-height: 1.2;
  }
}

// ------------------------------
// acms-admin-title2
// ------------------------------
.acms-admin-title2 {
  padding: 0;
  clear: both;
}

.acms-admin-title2.acms-margin-top-medium {
  margin-top: 10px;
}
