/* ------------------------------
 - ブロックエディターのファイル（縦積み）
 - メディアファイル
 - ファイル
------------------------------ */
/* stylelint-disable selector-class-pattern */
:where(.prose) .node-fileBlock:not(:has(.acms-admin-block-editor-file-link)),
.media-file-block[data-display-type='icon'],
[class*='column-media']:has(a[href*='media-download'], a[href*='storage']),
[class*='column-file'] {
  @apply mt-(--unit-margin-top) mb-(--unit-margin-bottom) text-center leading-0;
}

.acms-admin-block-editor-file {
  @apply leading-[0] /* Descender space 対策 */;
}

/* ファイルアイコン */
.acms-admin-block-editor-file:not(:has(.acms-admin-block-editor-file-link)) img,
.media-file-block[data-display-type='icon'] img,
[class*='column-media'] .columnIcon,
[class*='column-file'] .columnIcon {
  @apply inline-block max-w-full h-auto w-[70px] m-0;
}
/* stylelint-enable selector-class-pattern */

/* キャプション */
.acms-admin-block-editor-file:not(:has(.acms-admin-block-editor-file-link)) .caption,
.media-file-block[data-display-type='icon'] .caption,
[class*='column-media']:has(a[href*='media-download'], a[href*='storage']) .caption,
[class*='column-file'] .caption {
  @apply m-0 mt-[.75em] text-gray-500 text-sm text-center leading-normal;
}

/* リンク（閲覧画面のみ） */
.media-file-block[data-display-type='icon'] a,
[class*='column-media'] a[href*='media-download'],
[class*='column-media'] a[href*='storage'],
[class*='column-file'] a {
  @apply inline-block no-underline hover:opacity-70 transition-opacity;
}

/* PDFプレビュー
------------------------------ */
.column-pdf-image {
  @apply max-w-full border-gray-200 border mb-0;
}
