/* ------------------------------
 テーブル
------------------------------ */
/* stylelint-disable selector-class-pattern */
:where(.prose) {
  table {
    @apply mt-(--unit-margin-top) mb-(--unit-margin-bottom) border border-gray-200 border-separate border-spacing-0 rounded-md text-base;

    th,
    td {
      @apply border-b border-l border-gray-200;

      &:first-child {
        @apply ps-[.5714em] border-l-0;
      }

      tr:last-child & {
        @apply border-b-0;
      }
    }

    th {
      @apply p-[.5714em] bg-gray-50;
    }

    tr:first-child {
      :is(th, td):first-child {
        @apply rounded-tl-md;
      }

      :is(th, td):last-child {
        @apply rounded-tr-md;
      }
    }

    tr:last-child {
      :is(th, td):first-child {
        @apply rounded-bl-md;
      }

      :is(th, td):last-child {
        @apply rounded-br-md;
      }
    }

    p {
      @apply mt-0 mb-0;
    }
  }
}

:where(.prose div:has(> table)) {
  @apply mt-(--unit-margin-top) mb-(--unit-margin-bottom) overflow-x-auto;

  table {
    @apply mt-0 mb-0;
  }
}

/* スクロールするテーブル */
.acms-table-scrollable,
.js-table-unit-scroll-hint {
  th,
  td {
    @apply whitespace-nowrap break-keep; /* 横スクロールするテーブルの時は常時テキスト折り返しなし */
  }
}
/* stylelint-enable selector-class-pattern */

/* acms テーブル */
.acms-cell-text-left {
  @apply text-left!;
}

.acms-cell-text-center {
  @apply text-center!;
}

.acms-cell-text-right {
  @apply text-right!;
}

.acms-cell-text-nowrap {
  @apply whitespace-nowrap!;
}

.acms-cell-text-bold {
  @apply font-bold!;
}

.acms-cell-text-normal {
  @apply font-normal!;
}

.acms-cell-text-top {
  @apply align-top!;
}

.acms-cell-text-middle {
  @apply align-middle!;
}

.acms-cell-text-bottom {
  @apply align-bottom!;
}
