@use "global/acms-common" as acms;
@use "global/common" as global;

/* ------------------------------
　　枠付きコンテンツ・メモなど
------------------------------ */
.attention {
  padding: 2rem;
  margin-top: 4rem;
  border: global.$border-width-md solid global.$color-error;
}

.attention-heading {
  margin-top: 0 !important;
}

@include acms.media-breakpoint-up(md) {
  .attention {
    padding: 3rem 3.5rem;
  }
}
