@use "global/acms-common" as acms;

/* ------------------------------
　　コンテンツ囲み要素
------------------------------ */
*:not(.page-title-wrapper) + .content-wrapper {
  margin-top: 6.5rem;
}

@include acms.media-breakpoint-up(md) {
  *:not(.page-title-wrapper) + .content-wrapper {
    margin-top: 3.5rem;
  }
}
