@use "sass:map";
@use "global/acms-common" as acms;
@use "global/common" as global;

/* ------------------------------
　　続きを読む（会員限定）
------------------------------ */
.read-more {
  padding: 2em 1.5em;
  margin-bottom: 2em;
  text-align: center;
  border: global.$border-width-sm solid global.$color-gray30;
  border-radius: 1em;

  @include acms.media-breakpoint-up(md) {
    padding: 3em;
    margin-bottom: 2.5em;
  }
}

.read-more-heading {
  margin-block: 0 global.$entry-el-margin-sm;
  font-size: map.get(global.$font-scales, heading-s);
  line-height: global.$line-height-sm;
}

.read-more-lead {
  margin-block: 0 global.$entry-el-margin-md;
}

.read-more-link {
  display: inline-block;
  max-width: 17em;
  padding: 0;
  margin: 0;
  list-style: none;
}

.read-more-link-item {
  & + & {
    margin-top: 1em;
  }
}
