@use "global/acms-common" as acms;
@use "global/common" as global;

/* ------------------------------
　　セクション下部
------------------------------ */
.section-bottom {
  margin-top: 4rem;
}

@include acms.media-breakpoint-up(md) {
  .section-bottom {
    margin-top: 6.75rem;
  }
}
