@use "sass:map";
@use "global/acms-common" as acms;
@use "global/common" as global;

/* ------------------------------
　　サイドセクション
------------------------------ */
.section-side-grid {
  display: flex;
  flex-flow: column;
}

.section-side-col {
  box-sizing: border-box;
  width: 100%;
}

@include acms.media-breakpoint-up(md) {
  .section-side-grid {
    flex-flow: row wrap;
  }

  .section-side-col {
    width: auto;

    &.is-fix {
      flex: 0 1 auto;
    }

    &.is-full {
      flex: 1 1 auto;
    }

    &.is-fix + .section-side-col.is-full {
      flex-basis: min-content;
      min-width: 30%;
    }
  }
}

.section-side {
  margin: 0 0 4rem;
}

.section-side-header {
  display: flex;
  align-items: center;
  margin: 0 0 1rem;

  &.-calendar {
    padding: 0 0 1rem;
    margin: 0 0 0.5rem;
    border-bottom: global.$border-width-sm solid global.$color-gray30;
  }
}

.section-side-title {
  margin: 0;
  font-size: map.get(global.$font-scales, body-m);
}

@include acms.media-breakpoint-up(md) {
  .section-side-title {
    font-size: map.get(global.$font-scales, heading-ss);
  }
}

.section-side-link {
  display: inline-flex;
  align-items: center;
  margin-left: auto;
  font-size: map.get(global.$font-scales, body-s);
  font-weight: bold;
  color: global.$color-text;
  text-decoration: none;

  svg {
    box-sizing: border-box;
    width: 1rem;
    height: 1rem;
    padding: 0.25rem;
    margin: 0 0 0 0.5rem;
    background-color: global.$color-secondary;
    border-radius: global.$border-radius-circle;
  }

  &:hover svg {
    background-color: transparent;
    border: global.$border-width-sm solid global.$color-secondary;

    path {
      stroke: global.$color-secondary;
    }
  }

  &:hover {
    text-decoration: underline;
  }
}
