@use "global/common" as global;

/* ------------------------------
　　サイドカラム リンク集
------------------------------ */
.side-link-wrap {
  padding: 0;
  margin: 0;
  list-style: none;

  li + li {
    margin-top: 16px;
  }
}

.side-link {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 16px 24px;
  color: currentcolor;
  text-decoration: none;
  background: white;
  border: 1px solid var(--color-gray30);
  border-radius: 6px;
  transition: background-color 0.2s ease;

  &:hover {
    background: global.$color-gray10;
  }
}

.side-link-icon {
  font-size: 1.5em;
}

.side-link-label {
  margin-left: 1em;
  font-weight: bold;
}
