@use "global/acms-common" as acms;
@use "global/common" as global;

/* ------------------------------
　　トピックパス
------------------------------ */
.topicpath {
  padding: 0.5rem 0;
  background: global.$color-gray20;
}

.topicpath-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.topicpath-item {
  display: inline-block;
}

.topicpath-item:not(:last-child) {
  &::after {
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    margin: 0 0.5rem;
    content: "";
    border-top: 1px solid global.$color-gray60;
    border-right: 1px solid global.$color-gray60;
    transform: rotate(45deg);
  }
}

.topicpath-link {
  color: global.$color-text;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
