@charset "utf-8";

// グローバルメンバーファイル acms.css兼用
@forward "global/acms-common";

// グローバルメンバーファイル テーマ専用
@forward "global/common";

// ベース
@use "base";
@use "override-js";

// パーツ
@use "animation";
@use "attention";
@use "arrow-link";
@use "badge";
@use "button";
@use "card";
@use "cta";
@use "global-nav";
@use "global-mobile-nav";
@use "headline";
@use "form";
@use "list";
@use "list-group";
@use "local-nav";
@use "media";
@use "page-title";
@use "page-wrapper";
@use "pager";
@use "profile";
@use "separate";
@use "side-link";
@use "sns-link";
@use "sns-oauth";
@use "read-more";
@use "summary-section";
@use "tag";
@use "text-link";
@use "topicpath";
@use "type";
@use "visual-card";

// コンテンツ
@use "entry";
@use "not-found";
@use "section-bottom";
@use "section-side";
@use "content-wrapper";

// レイアウト
@use "footer";
@use "header";
