@use "sass:map";
@use "../../global/acms-common" as acms;
@use "../../global/common" as global;

/* ------------------------------
 - ブロックエディタのファイル（縦積み、ボタン型）
 - メディアファイル
 - ファイル
 ※ media-downloadは動的、storageは静的書き出しに対応
------------------------------ */
:where(.#{acms.$entry-class}) .node-fileBlock,
.media-file-block,
[class*="column-media"]:has(a[href*="media-download"], a[href*="storage"]) {
  margin-block: 0 var(--entry-el-margin-md);
  font-size: 0; /* Descender space 対策 */
}

/* ボタン型
------------------------------ */

/* リンク */
.acms-admin-block-editor-file-link,
.media-file-block[data-display-type="button"] a,
[class*="column-media"] a[href*="media-download"],
[class*="column-media"] a[href*="storage"] {
  box-sizing: border-box;
  display: inline-flex;
  gap: 1rem;
  align-items: center;
  padding: 1rem 1.5rem;
  color: var(--color-text);
  text-decoration: none; /* リセット用 */
  background-color: var(--color-white);
  border: var(--border-width-sm) solid var(--color-gray40);
  border-radius: var(--border-radius-md);
}

/* リンク動作スタイル（閲覧画面のみ） */
.media-file-block[data-display-type="button"] a,
[class*="column-media"] a[href*="media-download"],
[class*="column-media"] a[href*="storage"] { /* hover動作上書きのため詳細度高めて指定 */
  @media (hover: hover) {
    transition: background-color 0.2s ease;

    &:where(:any-link):hover {
      background-color: var(--color-gray20);
      border-color: var(--color-gray40); /* hover動作上書きのため */
    }
  }
}

/* ファイルアイコン */
.acms-admin-block-editor-file-link img,
.media-file-block[data-display-type="button"] img,
[class*="column-media"] .columnIcon {
  display: inline-block;
  width: 2rem;
  max-width: 100%;
  height: auto;
}

/* キャプションタイポグラフィ設定 */
.acms-admin-block-editor-file-link .caption,
.media-file-block[data-display-type="button"] .caption,
[class*="column-media"]:has(a[href*="media-download"], a[href*="storage"]):has(.columnIcon):not(:has(.column-pdf-image)) .caption {
  margin: 0; /* リセット */
  font-size: map.get(global.$font-scales, body-m);
  line-height: var(--line-height-base);
  color: currentcolor;
}

/* PDFプレビュー
------------------------------ */

/* リンク */
[class*="column-media"]:has(.column-pdf-image) {
  a {
    display: inline-grid;
    gap: 0.5rem;
    justify-items: center;

    /* リンクスタイルリセット */
    padding: 0;
    border: 0;

    @media (hover: hover) {
      &:hover {
        background-color: transparent; /* リセット */
        .column-pdf-image {
          opacity: 0.7;
        }

        .caption {
          border-bottom-color: currentcolor;
        }
      }
    }
  }
}

.column-pdf-image {
  max-width: 100%;
  border: var(--border-width-sm) solid var(--color-gray40);
  transition: opacity 0.2s ease;
}

.column-pdf-image-caption-box {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  margin: 0;

  .columnIcon {
    width: 2rem;
  }

  .caption {
    margin: 0; /* リセット */
    font-size: map.get(global.$font-scales, body-s);
    line-height: var(--line-height-sm);
    color: var(--color-text-2nd);
    border-bottom: var(--border-width-sm) dotted transparent;
  }

  .column-pdf-image-download-icon {
    display: inline-block;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    color: var(--color-text);

    svg {
      width: 100%;
      height: 100%;
      color: inherit;
      object-fit: contain;

      path {
        stroke: currentcolor;
      }
    }
  }
}

/* ブロックエディタのファイル（縦積み）
------------------------------ */

/* キャプション */
.acms-admin-block-editor-file:not(:has(.acms-admin-block-editor-file-link)) .caption,
.media-file-block[data-display-type="icon"] .caption {
  display: block;
  margin: 4px 0 0; /* 余白リセットのため全方向指定 */
  font-size: map.get(global.$font-scales, body-m);
  line-height: var(--line-height-base);
  color: var(--color-text);
}

.acms-admin-block-editor-file:not(:has(.acms-admin-block-editor-file-link)),
.media-file-block[data-display-type="icon"] {
  text-align: center;

  img {
    width: 4.5rem;
    max-width: 100%;
    height: auto;
  }
}

/* リンク動作スタイル（閲覧画面のみ） */
.media-file-block[data-display-type="icon"] a {
  /* リンクスタイルリセット */
  padding: 0;
  border: 0;

  @media (hover: hover) {
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.7;
    }
  }
}
