@use "../../global/acms-common" as acms;
@use "../../global/common" as global;

/* ------------------------------
 モジュールユニット
------------------------------ */
[class*="column-module"] {
  margin-block: var(--unit-margin-top) var(--unit-margin-bottom);
}
