@use "sass:map";
@use "sass:math";
@use "../../global/acms-common" as acms;
@use "../../global/common" as global;

/* ------------------------------
 引用
------------------------------ */
@include acms.editor-style("blockquote") {
  padding: global.$entry-el-padding-sm;
  margin-block: 0 global.$entry-el-margin-md;

  /* リセット用 */
  margin-inline: 0;
  font-size: map.get(global.$font-scales, body-m);
  line-height: global.$line-height-lg;
  border: global.$border-width-md solid global.$color-gray40;

  /* ブロックエディター調整：リセット用 */
  & > * {
    margin-block: 0;
  }

  /* ブロックエディター調整 */
  * + * {
    margin-block-start: 1rem;
  }

  a {
    padding-block: 2px;
    color: global.$color-link;
    text-decoration: none;
    border-bottom: global.$border-link;

    &:hover {
      border-color: transparent;
    }

    /* 中に画像が入っているリンクの時 */
    &:has(img) {
      display: inline-block;
      padding-block: 0; /* リセット用 */
      border-bottom: 0; /* リセット用 */
      transition: opacity 0.2s ease;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  img {
    width: 100%;
  }

  strong {
    /* リセット用 */
    background: transparent;
  }

  @include acms.media-breakpoint-up(md) {
    padding: global.$entry-el-padding-md;
  }
}
