@use "sass:math";
@use "../../global/common" as global;

/* ------------------------------
 地図
------------------------------ */
.column-map,
.column-street-view {
  margin-block: 0 global.$entry-el-margin-md;
}

:where(.column-map .js-open-street-map),
:where(.column-map .js-s2d-ready),
:where(.column-street-view .js-street-view) {
  aspect-ratio: 16 / 9; /* デフォルトのアスペクト比 */
}
