@use '../global/common' as global;

/* ------------------------------
 エントリーロック
------------------------------- */

.acms-entry-lock-modal {
  &-lead {
    line-height: 21px;

    @include global.font-size(14);
  }

  &-table {
    width: 100%;
    margin-bottom: 20px;
    font-size: 14px;
    background-color: global.$acms-color-gray30;
    border: none;
    border-radius: 4px;
  }

  &-user {
    display: flex;
    align-items: center;

    img {
      width: 24px !important;
      margin-right: 8px;
    }
  }

  &-note-label {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-weight: bold;
    color: #333;
    background: transparent;
    border: none;

    @include global.font-size(14);

    span {
      margin-left: 5px;
    }
  }

  &-note {
    padding-left: 20px;
    margin-bottom: 20px;
    line-height: 21px;
    border-left: 1px solid global.$acms-color-gray60;

    @include global.font-size(14);
  }
}
