@use '../global/common' as global;

// ---------------
// フィルター
// ---------------

.acms-filter {
  --acms-filter-border-radius: 6px;

  margin-bottom: 20px;
  background: global.$acms-color-system-gray10;
  border-radius: var(--acms-filter-border-radius);

  @include global.font-size(14);

  // フォームグループ
  .acms-form-group {
    display: block;
  }
}

.acms-filter-fit {
  margin: 0;
}

.acms-filter-body {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 12px 16px;
}

.acms-filter-group {
  display: flex;
  flex-flow: column wrap;
  gap: 8px 16px;
}

.acms-filter-group-v2 {
  display: flex;
  flex-wrap: wrap;
  gap: 12px 24px;
}

.acms-filter-group-v2 > .acms-filter-item {
  flex: 0 0 100%;
  justify-content: flex-end;
  width: 100%;
}

.acms-filter-form-control {
  --acms-filter-form-control-width: 100%;

  display: flex;
  flex-direction: column;
  row-gap: 4px;
  align-items: flex-start;
  justify-content: flex-end;
  width: var(--acms-filter-form-control-width);
}

// group title
.acms-filter-label {
  display: flex;
  flex: 0 1 auto;
  align-items: center;
  width: 5em;
  min-height: 26px;
  margin: 0;
  font-weight: bold;
  color: global.$acms-color-gray90;
  white-space: nowrap;
}

.acms-filter-content {
  display: flex;
  flex-flow: column wrap;
  gap: 8px;
  align-items: flex-start;
  width: 100%;
}

.acms-filter-item {
  display: flex;
  column-gap: 8px;
  align-items: center;
}

.acms-filter-item-full {
  flex: 1;
}

.acms-filter-item-name {
  display: inline-block;
  line-height: 1.5;
  white-space: nowrap;

  @include global.font-size(12);
}

.acms-filter-detail-btn:not(button) {
  margin: 0 0 0 auto;
  font-weight: bold;
  color: global.$acms-color-black;
  white-space: nowrap;

  @include global.font-size(12);

  a {
    color: global.$acms-color-black;

    &:hover,
    &:visited,
    &:active,
    &:focus {
      color: global.$acms-color-black;
    }

    &:hover {
      text-decoration: underline;
    }

    &.js-fade-active,
    &:hover {
      [class*='acms-icon'] {
        text-decoration: none;
        transform: rotate(-90deg);
      }
    }
  }

  [class*='acms-icon'] {
    margin: 0 5px 0 0;
    transition: transform 0.2s;

    @include global.font-size(13);
  }
}

button.acms-filter-detail-btn {
  display: inline-flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-weight: bold;
  line-height: 1.5;
  color: global.$acms-color-black;
  white-space: nowrap;
  appearance: none;
  background: 0;
  border: 0;

  &:hover,
  &:visited,
  &:active,
  &:focus {
    color: global.$acms-color-black;
  }

  &.js-fade-active,
  &[aria-expanded='true'],
  &:hover {
    [class*='acms-icon'] {
      transform: rotate(-90deg);
    }
  }

  &[aria-expanded='true'] [class*='material-symbols'] {
    transform: rotate(90deg);
  }

  @include global.font-size(12);

  [class*='material-symbols'] {
    font-size: 20px;
  }
}

.acms-filter-inner {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 16px 16px;
  margin: 0 -16px;
  border-bottom: 1px solid global.$acms-color-system-gray20;
}

.acms-filter-footer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  padding: 12px;
  background: global.$acms-color-system-gray10;
  border-bottom-right-radius: var(--acms-filter-border-radius);
  border-bottom-left-radius: var(--acms-filter-border-radius);

  .acms-btn-search {
    margin: 0 10px 0 0;
  }

  .acms-filter-detail-btn {
    margin-left: auto;
  }
}

.acms-filter-body + .acms-filter-footer {
  padding-top: 0;
}

.acms-filter-action-group {
  display: flex;
  gap: 16px;
  align-items: center;
}

.acms-filter-toggle-btn {
  @include global.button-shape($padding: 6.5px 10px, $font-size: 16);
  @include global.button-decoration(
    $border: 1px solid rgba(0, 0, 0, 0.2),
    $hover-bg-color: global.$acms-color-gray20,
    $hover-border-color: rgba(0, 0, 0, 0.3),
    $text-color: global.$acms-btn-default-color,
    $active-border-color: global.$acms-btn-active-border-color,
    $active-bg-color: global.$acms-color-gray40,
    $active-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3),
    $active-text-color: global.$acms-color-black,
    $focus-border-color: global.$acms-btn-focus-border-color,
    $focus-box-shadow: global.$acms-btn-focus-box-shadow
  );
}

.acms-filter-toggle-btn[aria-expanded='true'] .material-symbols-outlined::before {
  content: 'close';
}

.acms-filter-toggle-btn[aria-expanded='false'] .material-symbols-outlined::before {
  content: 'filter_list';
}

@include global.media-breakpoint-down(md) {
  .acms-filter-item {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
}

@include global.media-breakpoint-up(md) {
  .acms-filter-body {
    padding: 16px;
  }

  .acms-filter-group {
    flex-flow: row nowrap;
    align-items: flex-start;
  }

  .acms-filter-group-v2 > .acms-filter-item {
    flex: 0 0 auto;
    align-items: flex-end;
    width: auto;
  }

  .acms-filter-form-control {
    --acms-filter-form-control-width: 160px;
  }

  .acms-filter-content {
    flex-direction: row;
    align-items: center;
  }

  .acms-filter-content-fit {
    width: 100%;
  }

  .acms-filter-footer {
    padding: 16px 12px;
  }

  .acms-filter-just {
    display: flex;
  }
}

@include global.media-breakpoint-up(lg) {
  .acms-filter-content-fit {
    flex-wrap: nowrap;
  }
}

@media all and (-ms-high-contrast: none) {
  *::-ms-backdrop,
  .acms-filter-content-fit {
    flex-wrap: wrap;
  }
}
