@use '../global/common' as global;

/* ------------------------------
 モジュール設定
------------------------------- */

/* モジュール設定リンク */
.acms-module-edit {
  z-index: global.zIndex(acms-module-edit) !important;
  display: none !important;
  padding: 1px 4px;
  background-color: global.$acms-color-black-dark;
  border: 1px solid global.$acms-color-black-dark;
  border-bottom-left-radius: 4px;
  opacity: 0.7;

  @include global.font-size(14);
}

.acms-module-edit-wrapper {
  position: relative;
  z-index: 0;

  .acms-module-edit {
    position: absolute;
    top: -2px;
    right: -2px;
    margin: 0;

    a {
      color: global.$acms-color-white;
    }
  }

  .acms-module-edit-left {
    right: auto;
    left: -2px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 0;
  }

  &:hover {
    &::before {
      position: absolute;
      inset: -4px;
      z-index: -1;
      content: '';
      border: 2px solid global.$acms-color-gray80;
      border-radius: 4px;
    }

    .acms-module-edit {
      display: inline !important;
    }
  }
}
