@use '../global/common' as global;

/* ------------------------------
 Sort Context Select
------------------------------- */

.acms-sort-context-select {
  display: grid;
  place-items: center;

  &-help-message {
    margin: 0 0 1rem;
    color: global.$acms-text-helper-color;

    @include global.font-size(12);
  }

  &-form-select-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &-form-select {
    width: 100%;
    max-width: 220px;
  }
}
