@use "sass:map";
@use "global/acms-common" as acms;
@use "global/common" as global;

/* ------------------------------
　　カード
------------------------------ */

/* カード全体リンク */
.card-link {
  position: relative;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;

  &::after {
    position: absolute;
    inset: calc(var(--card-bg-space) * -1);
    z-index: 1;
    content: "";
    background-color: transparent;
    border-radius: var(--border-radius-lg);

    @media (hover: hover) {
      transition: background-color 0.3s ease;
    }
  }

  @media (hover: hover) {
    .card-img {
      transition: transform 0.4s 0.2s ease-out;
      will-change: transform;
    }

    .card-read-more-icon {
      transition: background-color 0.3s ease;
    }

    &:any-link:hover {
      @include acms.media-breakpoint-up(sm) {
      /*
        * sm幅以上でのみ、リンクホバー時に背景色が表示されるように設定しています。
        * この背景色は、シャドウのようにコンテンツからはみ出して表示されます。
        * sm幅未満では画面端に角丸背景色が接することで、視覚的バランスを損なうため適用していません。
        */
        &::after {
          background-color: var(--color-hover-bg-2nd);
        }
      }

      .card-img {
        transform: scale(1.2);
      }

      .card-read-more-icon {
        background-color: var(--color-icon-bg-hover);
      }
    }
  }
}

.card-link-inner {
  position: relative;
  z-index: 2;
}

/* カードレイアウト */
.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

:not(.is-admin-page) { /* 編集画面ではアニメーションしない */
  .js .js-animation-row .card {
    opacity: 0;
    will-change: transform, opacity;
  }

  .js .js-animation-row.is-show .card {
    animation: fade-in 0.2s 0.7s 1 both;
  }
}

/* カード画像 */
.card-img-wrap {
  position: relative;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: var(--border-radius-lg);
}

.card-img {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: var(--card-img-aspect-ratio, 16 / 9);
  object-fit: cover;
}

/* 画像上に重ねて表示するラベル */
.card-img-label-position {
  position: absolute;
  display: inline-block;
  margin-block: 0;
  line-height: 1;

  &.left-top {
    top: 10px;
    left: 10px;
  }

  &.right-top {
    top: 10px;
    right: 10px;
  }

  &.right-bottom {
    right: 10px;
    bottom: 10px;
  }

  &.left-bottom {
    bottom: 10px;
    left: 10px;
  }
}

/* 画像上に重ねて表示する new ラベル */
.label-triangle {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 4rem;
  height: 4rem;
  margin-block: 0;

  svg {
    .st1 {
      fill: var(--color-icon-bg)
    }
  }

  &.right-top {
    top: 0;
    right: 0;
    left: initial;
    rotate: 90deg;
  }

  &.right-bottom {
    top: initial;
    right: 0;
    bottom: 0;
    left: initial;
    rotate: 180deg;
  }

  &.left-bottom {
    top: initial;
    bottom: 0;
    rotate: 270deg;
  }
}

/* テキスト類全体の縦積みレイアウト */
.card-texts-layout {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* ラベルの横並びレイアウト */
.card-labels-layout {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 1rem;
  align-items: center;
}

/* 日付とNewラベル配置 */
.card-date-layout {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  align-items: center;
}

/* 日付 */
.card-date {
  font-size: map.get(global.$font-scales, body-s);
  line-height: var(--line-height-base);
  color: var(--color-text-2nd);
}

/* 見出し */
.card-title,
.#{acms.$entry-class} .card-title {
  margin: 0;
  font-size: map.get(global.$font-scales, heading-ss);
  font-weight: bold;
  line-height: var(--line-height-base);
  color: var(--color-text);
}

/* 概要文 */
.card-description,
.#{acms.$entry-class} .card-description {
  display: -webkit-box;
  margin: 0;
  overflow: hidden;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  font-size: map.get(global.$font-scales, body-m);
  line-height: var(--line-height-lg);
  color: var(--color-text-2nd);
  -webkit-box-orient: vertical;
}

/* タグ横並びリスト */
.card-tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem 1rem;
  align-items: flex-start;
}

/* 補足ラベルリスト */
.card-supplement-label-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0 1rem;
  align-items: flex-start;
}

/* 補足ラベル */
.card-supplement-label {
  font-size: map.get(global.$font-scales, body-m);
  line-height: var(--line-height-lg);
  color: var(--color-text);
}

/* 著者 */
.card-author {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin: 0;
  font-size: map.get(global.$font-scales, body-s);
  line-height: var(--line-height-base);
  color: var(--color-text-2nd);
}

.card-author-img {
  display: inline-block;
  width: 2rem;
  max-width: 100%;
  height: auto;
  border-radius: var(--border-radius-round);
}

/* 詳しく見る */
.card-read-more,
.#{acms.$entry-class} .card-read-more {
  display: inline-flex;
  gap: 0.25rem;
  align-items: center;
  height: 1.5rem;
  margin: 0;
  line-height: var(--line-height-base);

  @include acms.media-breakpoint-up(md) {
    gap: 0.5rem;
    height: 1.75rem;
  }
}

.card-read-more-text {
  font-size: map.get(global.$font-scales, body-s);
  font-weight: bold;
  color: var(--color-text);

  @include acms.media-breakpoint-up(md) {
    font-size: map.get(global.$font-scales, body-m);
  }
}

.card-read-more-icon {
  box-sizing: border-box;
  display: grid;
  place-items: center;
  width: 1rem;
  height: auto;
  aspect-ratio: 1 / 1;
  background-color: var(--color-icon-bg);
  border-radius: 50%;

  svg {
    width: 0.625rem;
    height: 0.625rem;
    color: var(--color-white);
    object-fit: contain;

    path {
      stroke: currentcolor;
    }
  }

  @include acms.media-breakpoint-up(md) {
    width: 1.25rem;
  }
}
