@use '../global/common' as global;

/* ------------------------------
  スタック
------------------------------- */

.acms-stack,
.acms-vstack {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--acms-stack-spacing, 0.5rem);
  align-items: center;

  > * {
    /// @link https://zenn.dev/storehero/articles/31012c944ddb90
    min-width: 0;
  }
}

.acms-hstack {
  display: flex;
  flex-flow: row nowrap;
  gap: var(--acms-stack-spacing, 0.5rem);
  align-items: center;

  > * {
    /// @link https://zenn.dev/storehero/articles/31012c944ddb90
    min-width: 0;
  }
}
