// ---------------
// テーブル
// ---------------

.acms-cell-text-center {
  text-align: center !important;
}

.acms-cell-text-right {
  text-align: right !important;
}

.acms-cell-text-left {
  text-align: left !important;
}

.acms-cell-text-nowrap {
  white-space: nowrap !important;
}

.acms-cell-text-bold {
  font-weight: bold !important;
}

.acms-cell-text-normal {
  font-weight: normal !important;
}

.acms-cell-text-top {
  vertical-align: top !important;
}

.acms-cell-text-middle {
  vertical-align: middle !important;
}

.acms-cell-text-bottom {
  vertical-align: bottom !important;
}
