@use 'sass:list';
@use '../global/common' as global;

/* ------------------------------
ユーティリティ（非推奨）
------------------------------- */

// ---------------
// 角
// ---------------
.acms-round {
  border-radius: 10%;
}

.acms-circle {
  border-radius: 50%;
}

// ---------------
// アイコン背景
// ---------------

.acms-icon-bg {
  padding: 8px;
  color: global.$acms-icon-text-color;
  background-color: global.$acms-icon-default;

  @include global.font-size(18);
}

.acms-icon-bg-info {
  background-color: global.$acms-icon-info-color;
}

.acms-icon-bg-success {
  background-color: global.$acms-icon-color;
}

.acms-icon-bg-warning {
  background-color: global.$acms-icon-warning-color;
}

.acms-icon-bg-danger {
  background-color: global.$acms-icon-danger-color;
}

.acms-icon-bg > [class*='acms-icon-'] {
  vertical-align: baseline;
}

// ---------------
// 間隔
// ---------------

// Padding
.acms-padding-none {
  padding: 0 !important;
}

.acms-padding-mini {
  padding: 5px !important;
}

.acms-padding-small {
  padding: 10px !important;
}

.acms-padding-medium {
  padding: 15px !important;
}

.acms-padding-large {
  padding: 20px !important;
}

// 上方向
.acms-padding-top-none {
  padding-top: 0 !important;
}

.acms-padding-top-mini {
  padding-top: 5px !important;
}

.acms-padding-top-small {
  padding-top: 10px !important;
}

.acms-padding-top-medium {
  padding-top: 15px !important;
}

.acms-padding-top-large {
  padding-top: 20px !important;
}

// 右方向
.acms-padding-right-none {
  padding-right: 0 !important;
}

.acms-padding-right-mini {
  padding-right: 5px !important;
}

.acms-padding-right-small {
  padding-right: 10px !important;
}

.acms-padding-right-medium {
  padding-right: 15px !important;
}

.acms-padding-right-large {
  padding-right: 20px !important;
}

// 下方向
.acms-padding-bottom-none {
  padding-bottom: 0 !important;
}

.acms-padding-bottom-mini {
  padding-bottom: 5px !important;
}

.acms-padding-bottom-small {
  padding-bottom: 10px !important;
}

.acms-padding-bottom-medium {
  padding-bottom: 15px !important;
}

.acms-padding-bottom-large {
  padding-bottom: 20px !important;
}

// 左方向
.acms-padding-left-none {
  padding-left: 0 !important;
}

.acms-padding-left-mini {
  padding-left: 5px !important;
}

.acms-padding-left-small {
  padding-left: 10px !important;
}

.acms-padding-left-medium {
  padding-left: 15px !important;
}

.acms-padding-left-large {
  padding-left: 20px !important;
}

// 上下
.acms-padding-top-bottom-none {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.acms-padding-top-bottom-mini {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.acms-padding-top-bottom-small {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.acms-padding-top-bottom-medium {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.acms-padding-top-bottom-large {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

// 左右
.acms-padding-left-right-none {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.acms-padding-left-right-mini {
  padding-right: 5px !important;
  padding-left: 5px !important;
}

.acms-padding-left-right-small {
  padding-right: 10px !important;
  padding-left: 10px !important;
}

.acms-padding-left-right-medium {
  padding-right: 15px !important;
  padding-left: 15px !important;
}

.acms-padding-left-right-large {
  padding-right: 20px !important;
  padding-left: 20px !important;
}

// Margin
.acms-margin-none {
  margin: 0 !important;
}

.acms-margin-mini {
  margin: 5px !important;
}

.acms-margin-small {
  margin: 10px !important;
}

.acms-margin-medium {
  margin: 20px !important;
}

.acms-margin-large {
  margin: 30px !important;
}

// 上方向
.acms-margin-top-none {
  margin-top: 0 !important;
}

.acms-margin-top-mini {
  margin-top: 5px !important;
}

.acms-margin-top-small {
  margin-top: 10px !important;
}

.acms-margin-top-medium {
  margin-top: 20px !important;
}

.acms-margin-top-large {
  margin-top: 30px !important;
}

// 右方向
.acms-margin-right-none {
  margin-right: 0 !important;
}

.acms-margin-right-mini {
  margin-right: 5px !important;
}

.acms-margin-right-small {
  margin-right: 10px !important;
}

.acms-margin-right-medium {
  margin-right: 20px !important;
}

.acms-margin-right-large {
  margin-right: 30px !important;
}

// 下方向
.acms-margin-bottom-none {
  margin-bottom: 0 !important;
}

.acms-margin-bottom-mini {
  margin-bottom: 5px !important;
}

.acms-margin-bottom-small {
  margin-bottom: 10px !important;
}

.acms-margin-bottom-medium {
  margin-bottom: 20px !important;
}

.acms-margin-bottom-large {
  margin-bottom: 30px !important;
}

// 左方向
.acms-margin-left-none {
  margin-left: 0 !important;
}

.acms-margin-left-mini {
  margin-left: 5px !important;
}

.acms-margin-left-small {
  margin-left: 10px !important;
}

.acms-margin-left-medium {
  margin-left: 20px !important;
}

.acms-margin-left-large {
  margin-left: 30px !important;
}

// 上下
.acms-margin-top-bottom-none {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.acms-margin-top-bottom-mini {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.acms-margin-top-bottom-small {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.acms-margin-top-bottom-medium {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.acms-margin-top-bottom-large {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

// 左右
.acms-margin-left-right-none {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.acms-margin-left-right-mini {
  margin-right: 5px !important;
  margin-left: 5px !important;
}

.acms-margin-left-right-small {
  margin-right: 10px !important;
  margin-left: 10px !important;
}

.acms-margin-left-right-medium {
  margin-right: 20px !important;
  margin-left: 20px !important;
}

.acms-margin-left-right-large {
  margin-right: 30px !important;
  margin-left: 30px !important;
}

// inline 横積み
.acms-inline-space {
  display: inline;
  margin-right: 10px;
}

.acms-inline-space-left {
  display: inline;
  margin-left: 10px;
}

// ---------------
// ユーティリティ スマートフォン用
// ---------------
@include global.media-breakpoint-down(md) {
  .acms-clear-sp {
    clear: both;
  }

  .acms-float-none-sp {
    float: none;
  }

  // 幅いっぱい
  .acms-width-sp {
    width: 100% !important;
  }

  // 幅オート
  .acms-width-auto-sp {
    width: auto !important;
  }

  // 間隔 下左
  .acms-margin-sp {
    margin-bottom: 10px !important;
    margin-left: 10px !important;
  }

  // 間隔 上下
  .acms-margin-top-bottom-sp {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }

  .acms-margin-top-bottom-small-sp {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }

  // 間隔 下
  .acms-margin-bottom-sp {
    margin-bottom: 10px !important;
  }

  // 上線
  .acms-border-top-sp {
    border-top: global.$acms-table-border !important;
  }

  // 下線
  .acms-border-bottom-sp {
    border-bottom: global.$acms-table-border !important;
  }

  // エディットテーブル 下線
  .acms-table-admin-edit .acms-border-bottom-sp {
    border-bottom: global.$acms-table-border !important;
  }

  // タイトル
  .acms-title-sp {
    font-size: 16px !important;
  }
}

// ---------------
// 高さと幅
// ---------------
//幅
.acms-width-max {
  width: 100% !important;
}

// 高さ
.acms-height-max {
  height: 100% !important;
}

// 幅と高さ
.acms-width-height-max,
.acms-width-height-max html,
.acms-width-height-max body {
  width: 100%;
  height: 100%;
}

// ---------------
// 表示・非表示
// ---------------

// ブロック
.acms-block {
  display: block !important;
}

// インライン
.acms-inline {
  display: inline !important;
}

// インラインブロック
.acms-inline-block {
  display: inline-block !important;
}

// インラインブロック
.acms-table-cell {
  display: table-cell !important;
}

// 非表示
.acms-hide {
  display: none !important;
}

// 大きいスマートフォン以下のとき
@include global.media-breakpoint-down(md) {
  // ブロック
  .acms-show-sp {
    display: block !important;
  }

  // インライン
  .acms-show-inline-sp {
    display: inline !important;
  }

  // 非表示
  .acms-hide-sp {
    display: none !important;
  }
}

@include global.media-breakpoint-up(md) {
  // タブレット以上のときは表示にします
  .acms-show-tablet {
    display: block !important;
  }

  // タブレット以上のときは非表示にします
  .acms-hide-tablet {
    display: none !important;
  }
}

@include global.media-breakpoint-up(lg) {
  // PCのときは表示にします
  .acms-show-pc {
    display: block !important;
  }

  // PCのときは非表示にします
  .acms-hide-pc {
    display: none !important;
  }
}

@include global.media-breakpoint-down(sm) {
  // ブロック
  .acms-block-xs {
    display: block !important;
  }

  // インライン
  .acms-inline-xs {
    display: inline !important;
  }

  // ブロック
  .acms-inline-block-xs {
    display: inline-block !important;
  }

  // インライン
  .acms-table-cell-xs {
    display: table-cell !important;
  }

  // 非表示
  .acms-hide-xs {
    display: none !important;
  }
}

@include global.media-breakpoint-between(sm, md) {
  // ブロック
  .acms-block-sm {
    display: block !important;
  }

  // インライン
  .acms-inline-sm {
    display: inline !important;
  }

  // ブロック
  .acms-inline-block-sm {
    display: inline-block !important;
  }

  // インライン
  .acms-table-cell-sm {
    display: table-cell !important;
  }

  // 非表示
  .acms-hide-sm {
    display: none !important;
  }
}

@include global.media-breakpoint-between(md, lg) {
  // ブロック
  .acms-block-md {
    display: block !important;
  }

  // インライン
  .acms-inline-md {
    display: inline !important;
  }

  // ブロック
  .acms-inline-block-md {
    display: inline-block !important;
  }

  // インライン
  .acms-table-cell-md {
    display: table-cell !important;
  }

  // 非表示
  .acms-hide-md {
    display: none !important;
  }
}

@include global.media-breakpoint-between(lg, xl) {
  // ブロック
  .acms-block-lg {
    display: block !important;
  }

  // インライン
  .acms-inline-lg {
    display: inline !important;
  }

  // ブロック
  .acms-inline-block-lg {
    display: inline-block !important;
  }

  // インライン
  .acms-table-cell-lg {
    display: table-cell !important;
  }

  // 非表示
  .acms-hide-lg {
    display: none !important;
  }
}

// global.$breakpoint-xl-min以下
@include global.media-breakpoint-up(xl) {
  // ブロック
  .acms-block-xl {
    display: block !important;
  }

  // インライン
  .acms-inline-xl {
    display: inline !important;
  }

  // ブロック
  .acms-inline-block-xl {
    display: inline-block !important;
  }

  // インライン
  .acms-table-cell-xl {
    display: table-cell !important;
  }

  // 非表示
  .acms-hide-xl {
    display: none !important;
  }
}

//プリント用クラス
@media print {
  .acms-print-block {
    display: block !important;
  }

  .acms-print-inline {
    display: inline !important;
  }

  .acms-print-inline-block {
    display: inline-block !important;
  }

  .acms-print-hide {
    display: none !important;
  }
}

// ---------------
// 検索結果のハイライト
// ---------------
@each $hightlight-color in global.$hightlight-colors {
  $index: list.index(global.$hightlight-colors, $hightlight-color);

  .highlight#{$index} {
    background-color: $hightlight-color;
  }
}
