@charset "utf-8";
/*!
 * acms.css Ver. 2.1.4
 * Copyright appleple
 * license: MIT
 *
 * カスタマイズする場合は、オリジナルのテーマにコピーしてご利用ください。
 *
 */

/**
 * グリッドシステム（非推奨）
 */
/**
 * グリッドシステム（非推奨）
 */
/**
 * グリッドシステム（非推奨）
 */
/* ------------------------------
  Popover
------------------------------- */
/* ------------------------------
 会員ページ ベース
------------------------------- */
@media (min-width: 480px) {
  body {
    background-color: #f2f2f5;
  }
}
/* ------------------------------
 会員ページ レイアウト
------------------------------- */
/* コンテナー */
.acms-member-container {
  max-width: 480px;
  margin: 0 auto 80px;
  overflow: hidden;
  background-color: #fff;
}

@media (min-width: 480px) {
  .acms-member-container {
    margin-top: 100px;
    margin-bottom: 60px;
    border-radius: var(--member-radius-container);
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  }
}
/* メインコンテンツボックス */
.acms-member-main-box {
  padding-right: var(--member-space-container-x);
  padding-left: var(--member-space-container-x);
  margin-bottom: var(--member-space-section-y);
}

/* 新規登録・退会・離脱ボタンボックス */
.acms-member-main-box-bottom {
  padding-right: var(--member-space-container-x);
  padding-left: var(--member-space-container-x);
  margin-top: var(--member-space-section-y);
}

@media (min-width: 480px) {
  .acms-member-main-box-bottom {
    padding-top: var(--member-space-section-y);
    padding-bottom: var(--member-space-section-y);
    border-top: 1px solid var(--member-color-border-section);
    border-bottom-right-radius: var(--member-radius-container);
    border-bottom-left-radius: var(--member-radius-container);
  }
}
/* ------------------------------
 会員ページ パーツ
------------------------------- */
/* ヘッダー画像 */
.acms-member-header-img {
  display: block;
  width: 100%;
  height: auto;
  max-height: 140px;
  margin-bottom: var(--member-space-section-y);
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

/* アクションボタンラップ */
.acms-member-action {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* 見出し */
.acms-member-page-title {
  margin-top: 0;
  margin-bottom: var(--member-space-section-y);
  font-weight: bold;
  line-height: 1.2;
  color: #999;
  text-align: center;
}
.acms-member-page-title {
  font-size: 22px;
}
@media print {
  .acms-member-page-title {
    font-size: 22px;
  }
}

/* 左右ボーダー付きテキスト */
.acms-member-border-text-outer {
  position: relative;
  width: 100%;
  margin: var(--member-space-section-y) 0;
  text-align: center;
}
.acms-member-border-text-outer::before {
  position: absolute;
  left: 0;
  padding: 0 0 0 100%;
  margin: 10px 0 0;
  content: "";
  border-top: 1px solid var(--member-color-border-section);
}

.acms-member-border-text {
  position: relative;
  padding: 0 10px;
  line-height: 1.4;
  color: #333;
  background: #fff;
}
.acms-member-border-text {
  font-size: 13px;
}
@media print {
  .acms-member-border-text {
    font-size: 13px;
  }
}

/* 説明テキスト */
.acms-member-notice-text {
  margin: 20px 0;
  font-weight: bold;
  line-height: 1.4;
  color: #333;
}
.acms-member-notice-text {
  font-size: 13px;
}
@media print {
  .acms-member-notice-text {
    font-size: 13px;
  }
}

/* リンクテキスト */
.acms-member-text-link {
  line-height: 1.5;
  text-decoration: none;
}
.acms-member-text-link {
  font-size: 14px;
}
@media print {
  .acms-member-text-link {
    font-size: 14px;
  }
}
.acms-member-text-link:link, .acms-member-text-link:visited, .acms-member-text-link:focus, .acms-member-text-link:active {
  color: var(--member-color-text);
}
.acms-member-text-link:hover {
  color: var(--member-color-text-hover);
}

/* ------------------------------
 会員ページ フォームパーツ
------------------------------- */
/* フィールドセット */
.acms-member-form-fieldset {
  padding: 0;
  margin: var(--member-space-form-item-top) 0 0;
  border: 0;
}

/* フォームラベル */
.acms-member-form-label {
  display: block;
  /* legendタグスタイルリセット */
  padding: 0;
  margin-top: var(--member-space-form-item-top);
  margin-bottom: 3px;
  line-height: 1.4;
  border: 0;
}
.acms-member-form-label {
  font-size: 14px;
}
@media print {
  .acms-member-form-label {
    font-size: 14px;
  }
}

/* 注意文 */
.acms-member-input-caution {
  margin: 6px 0 0;
  font-weight: bold;
  line-height: 1.4;
  color: var(--member-color-error);
}
.acms-member-input-caution {
  font-size: 13px;
}
@media print {
  .acms-member-input-caution {
    font-size: 13px;
  }
}

/* validatorスタイルで入力欄が非表示にならないよう上書き */
.acms-member-main-box input.validator-result- {
  display: block;
}

/* エラー時の入力欄スタイル */
.acms-member-main-box input.validator-result-0 {
  border-color: var(--member-color-error);
}

/* ------------------------------
 会員ページ ソーシャルログイン
------------------------------- */
/* ソーシャルログインリスト */
.acms-member-sns-btn-list {
  margin-bottom: 20px;
}

.acms-member-sns-btn-item + .acms-member-sns-btn-item {
  margin-top: 20px;
}

/* ソーシャルログインボタン */
.acms-member-sns-btn-item .acms-btn {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  height: var(--member-height-sns-btn);
  padding: 0;
  overflow: hidden;
  border-radius: 4px;
}
.acms-member-sns-btn-item .acms-btn::before {
  position: absolute;
  inset: 0;
  z-index: 1;
  content: "";
  background-color: transparent;
  transition: background-color 0.2s;
}
.acms-member-sns-btn-item .acms-btn:hover::before {
  background-color: rgba(0, 0, 0, 0.1);
}
.acms-member-sns-btn-item .acms-btn:active::before {
  background-color: rgba(0, 0, 0, 0.3);
}

/* ソーシャルログインボタンアイコン */
.acms-member-sns-btn-icon-outer {
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  display: grid;
  place-content: center;
  width: calc(var(--member-height-sns-btn) - var(--member-border-width-btn-sns) * 2);
}

.acms-member-sns-btn-icon {
  display: inline-block;
  height: auto;
}

/* ソーシャルログインボタンテキスト */
.acms-member-sns-btn-text {
  position: relative;
  z-index: 2;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  border-left-style: solid;
  border-left-width: var(--member-border-width-btn-sns);
}

/* ソーシャルログインボタンのカラー変化
------------------------------ */
/* Googleログインボタン */
.acms-member-sns-btn-google, .acms-member-sns-btn-google:hover, .acms-member-sns-btn-google:focus, .acms-member-sns-btn-google:active {
  color: #333;
  background-color: #fff;
  border-color: #cecece;
}
.acms-member-sns-btn-google .acms-member-sns-btn-text {
  border-color: rgba(0, 0, 0, 0.08);
}

/* LINEログインボタン */
.acms-member-sns-btn-line, .acms-member-sns-btn-line:hover, .acms-member-sns-btn-line:focus, .acms-member-sns-btn-line:active {
  color: #fff;
  background-color: #06c755;
  border-color: #06c755;
}
.acms-member-sns-btn-line .acms-member-sns-btn-text {
  border-color: rgba(0, 0, 0, 0.08);
}

/* Xログインボタン */
.acms-member-sns-btn-x, .acms-member-sns-btn-x:hover, .acms-member-sns-btn-x:focus, .acms-member-sns-btn-x:active {
  color: #fff;
  background-color: #000;
  border-color: #000;
}
.acms-member-sns-btn-x .acms-member-sns-btn-text {
  border-color: rgba(255, 255, 255, 0.35);
}
.acms-member-sns-btn-x {
  /* Xのみダーク系のためhoverカラーを反転 */
}
.acms-member-sns-btn-x.acms-btn:hover::before {
  background-color: rgba(255, 255, 255, 0.25);
}
.acms-member-sns-btn-x.acms-btn:active::before {
  background-color: rgba(255, 255, 255, 0.45);
}

/* ------------------------------
 会員ページ 会員情報テーブル
------------------------------- */
/* インプットテーブル（縦並び） */
.acms-member-inputs {
  width: 100%;
  line-height: 1.4;
  color: #333;
}
.acms-member-inputs,
.acms-member-inputs tbody,
.acms-member-inputs tr,
.acms-member-inputs th,
.acms-member-inputs td {
  display: block;
}
.acms-member-inputs th,
.acms-member-inputs td {
  padding: 0 0 4px;
}
.acms-member-inputs tr + tr {
  margin-top: 20px;
}
.acms-member-inputs th {
  font-weight: bold;
  text-align: left;
}
.acms-member-inputs th {
  font-size: 14;
}
@media print {
  .acms-member-inputs th {
    font-size: 14;
  }
}
.acms-member-inputs td {
  font-size: 16;
}
@media print {
  .acms-member-inputs td {
    font-size: 16;
  }
}

/* インプットテーブル（横並び） */
.acms-member-inputs-col {
  width: 100%;
  line-height: 1.4;
  color: #333;
}
.acms-member-inputs-col th {
  width: 140px;
  padding: 0 10px 4px 0;
  font-weight: bold;
  text-align: left;
  vertical-align: middle;
}
.acms-member-inputs-col th {
  font-size: 14;
}
@media print {
  .acms-member-inputs-col th {
    font-size: 14;
  }
}
.acms-member-inputs-col td {
  padding: 0 10px 4px 0;
  vertical-align: middle;
}
.acms-member-inputs-col td {
  font-size: 16;
}
@media print {
  .acms-member-inputs-col td {
    font-size: 16;
  }
}

/* 確認用テーブル */
.acms-member-confirm {
  width: 100%;
  line-height: 1.4;
  color: #333;
}
.acms-member-confirm,
.acms-member-confirm tbody,
.acms-member-confirm tr,
.acms-member-confirm th,
.acms-member-confirm td {
  display: block;
}
.acms-member-confirm th,
.acms-member-confirm td {
  padding: 0 0 4px;
}
.acms-member-confirm tr {
  border-bottom: 1px solid var(--member-color-border-section);
}
.acms-member-confirm tr + tr {
  margin-top: 16px;
}
.acms-member-confirm th {
  font-weight: bold;
  text-align: left;
}
.acms-member-confirm th {
  font-size: 14;
}
@media print {
  .acms-member-confirm th {
    font-size: 14;
  }
}
.acms-member-confirm td {
  font-size: 16;
}
@media print {
  .acms-member-confirm td {
    font-size: 16;
  }
}

/* 位置情報 */
.acms-member-geo {
  font-size: 0;
  line-height: 0;
  /* 位置情報キーワード検索入力欄 */
}
.acms-member-geo input[type=text].js-editable_map-search_text,
.acms-member-geo input[type=text].js-osm-search {
  box-sizing: border-box;
  display: inline-block;
  width: calc(100% - 70px);
  margin-right: 5px;
}
.acms-member-geo {
  /* 位置情報キーワード検索ボタン */
}
.acms-member-geo .js-editable_map-search_button,
.acms-member-geo .js-osm-search-btn {
  box-sizing: border-box;
  width: 50px;
}
.acms-member-geo {
  /* 地図がはみ出さないよう調整 */
}
.acms-member-geo .acms-admin-gmap-box,
.acms-member-geo .acms-admin-form-group {
  box-sizing: border-box;
  width: 100% !important;
  margin-bottom: 5px;
}
.acms-member-geo {
  /* 緯度・軽度・ズーム入力欄ラベル */
}
.acms-member-geo label {
  box-sizing: border-box;
  display: inline-block;
  width: 50px;
  padding-right: 10px;
  margin-top: 10px;
  font-weight: bold;
  line-height: 1;
  vertical-align: middle;
}
.acms-member-geo label {
  font-size: 14px;
}
@media print {
  .acms-member-geo label {
    font-size: 14px;
  }
}
.acms-member-geo {
  /* 緯度・軽度・ズーム入力欄 */
}
.acms-member-geo .acms-admin-form-width-mini {
  box-sizing: border-box;
  display: inline-block;
  width: calc(100% - 60px);
  max-width: calc(100% - 60px);
  margin-top: 10px;
}

/* ------------------------------
 会員ページ サインイン
------------------------------- */
@keyframes acms-member-signin-load {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.acms-member-signin-load {
  animation-name: acms-member-signin-load;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-fill-mode: forwards;
}
