@charset "utf-8";
/*!
 * acms.css Ver. 2.1.4
 * Copyright appleple
 * license: MIT
 *
 * カスタマイズする場合は、オリジナルのテーマにコピーしてご利用ください。
 *
 */

/**
 * グリッドシステム（非推奨）
 */
/**
 * グリッドシステム（非推奨）
 */
/**
 * グリッドシステム（非推奨）
 */
/* ------------------------------
  Popover
------------------------------- */
/* ------------------------------
  共通
 ------------------------------ */
html {
  position: relative;
}

body {
  padding: 0 0 40px;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Meiryo, "メイリオ", "ＭＳ Ｐゴシック", "MS PGothic", Verdana, sans-serif;
  color: #333;
  background: #fff;
}
body {
  font-size: 14px;
}
@media print {
  body {
    font-size: 14px;
  }
}

.acms-admin-font {
  font-family: acms-admin-fonts, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W6", Meiryo, "メイリオ", "ＭＳ Ｐゴシック", "MS PGothic", Verdana, sans-serif;
}

/* ------------------------------
  ヘッダー
 ------------------------------ */
.tv-page-header {
  margin: 0;
  background: #101013;
}
.tv-page-header .acms-admin-container {
  margin-bottom: 0;
}

.tv-page-header-inner {
  padding: 0 20px;
}

.tv-page-title {
  padding: 10px 0;
  margin: 0;
  color: #fff;
}
.tv-page-title {
  font-size: 13px;
}
@media print {
  .tv-page-title {
    font-size: 13px;
  }
}

/* ------------------------------
  メイン
 ------------------------------ */
.tv-main {
  padding: 0 20px 0 236px;
  background: #fff;
}

.tv-main-contents {
  margin: 0 0 20px;
  clear: both;
}

.tv-section {
  padding: 5px 0 0;
  margin: 0 0 30px;
}

.tv-header-info {
  margin: 0 0 15px;
}
.tv-header-info::after {
  display: block;
  clear: both;
  content: "";
}

.tv-info-item {
  float: left;
  padding: 8px 0;
  margin: 0 10px 0 0;
}

.tv-info-label {
  margin: 0 10px 0 0;
}

.tv-tab {
  margin: 0 0 10px;
}
.tv-tab::after {
  display: block;
  clear: both;
  content: "";
}

.tv-tab-list {
  padding: 0;
  margin: 0 -5px;
  list-style: none;
}

.tv-tab-list-item {
  float: left;
  margin: 0 5px;
}

.tv-tab-list-link {
  display: inline-block;
  padding: 7px 0;
  border-bottom: 2px solid transparent;
}
.tv-tab-list-link:hover {
  color: #333;
  text-decoration: none;
  border-bottom: 2px solid #7e7e8b;
}
.tv-tab-list-link.js-acms_tab-active {
  font-weight: bold;
  color: #333;
  border-bottom: 2px solid #7e7e8b;
}

.tv-tab-area {
  margin: 0 0 20px;
  border: 1px solid #ccc;
}

.tv-tab-item {
  display: none;
}

.acms-admin-admin-mini-table {
  margin: 0;
}
.acms-admin-admin-mini-table th {
  background: #e2e2e8;
}

.tv-parameter-text {
  padding: 0 15px;
}

.tv-preview {
  padding: 10px;
  background-color: #f2f2f5;
}

.tv-preview-area {
  padding: 10px;
  overflow: scroll;
  background: #fff;
}

.tv-comment {
  position: relative;
  padding: 20px 15px 15px;
  margin: 0 0 10px;
  line-height: 1.5;
  border: 1px solid #ccc;
}

.tv-comment-text {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 0 5px;
  line-height: 1;
}
.tv-comment-text .acms-admin-label {
  border-radius: 0 0 3px;
}

/* ------------------------------
  サブ
 ------------------------------ */
.tv-sub {
  height: 100%;
}

.tv-sidebar {
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  width: 216px;
  height: 100%;
  padding: 12px 0;
  background: #f2f2f5;
}
.tv-sidebar.fixed {
  position: fixed;
  top: 0;
}

.tv-form-inner {
  padding: 0 20px 15px;
}

.tv-side-navigation-wrap {
  height: 100%;
  overflow: scroll;
}

.tv-side-navigation {
  padding: 0;
  margin: 0;
  list-style: none;
  /* リンクの設定 */
}
.tv-side-navigation a {
  color: #006dd9;
  text-decoration: none;
  border: none;
}
.tv-side-navigation a:visited,
.tv-side-navigation a:active {
  color: #006dd9;
  text-decoration: none;
}
.tv-side-navigation a:hover {
  color: #006dd9;
  text-decoration: underline;
}

.tv-side-navigation-item {
  margin: 0;
}

.tv-side-navigation-link {
  display: block;
  padding: 10px 20px;
}
.tv-side-navigation-link.current, .tv-side-navigation-link:hover {
  text-decoration: none;
  background: #e8effb;
}
