@use '../../global/common' as global;

/* ------------------------------
 - ブロックエディターのファイル（縦積み）
 - メディアファイル
 - ファイル
 ※ media-downloadは動的、storageは静的書き出しに対応
------------------------------ */
:where(.#{global.$entry-class}) .node-fileBlock:not(:has(.acms-admin-block-editor-file-link)),
.media-file-block[data-display-type='icon'],
[class*='column-media']:has(a[href*='media-download'], a[href*='storage']),
[class*='column-file'] {
  margin-block: var(--unit-margin-top) var(--unit-margin-bottom);
  font-size: 0; /* Descender space 対策 */
  text-align: center;
}

/* ファイルアイコン */
.acms-admin-block-editor-file:not(:has(.acms-admin-block-editor-file-link)) img,
.media-file-block[data-display-type='icon'] img,
[class*='column-media'] .columnIcon,
[class*='column-file'] .columnIcon {
  display: inline-block;
  width: 56px;
  max-width: 100%;
  height: auto;
}

/* キャプション */
.acms-admin-block-editor-file:not(:has(.acms-admin-block-editor-file-link)) .caption,
.media-file-block[data-display-type='icon'] .caption,
[class*='column-media']:has(a[href*='media-download'], a[href*='storage']) .caption,
[class*='column-file'] .caption {
  display: block;
  margin: 4px 0 0; /* 余白リセットのため全方向指定 */
  line-height: 1.5;

  @include global.font-size(12);
}

/* リンク（閲覧画面のみ） */
.media-file-block[data-display-type='icon'] a,
[class*='column-media'] a[href*='media-download'],
[class*='column-media'] a[href*='storage'],
[class*='column-file'] a {
  display: inline-block;
  text-decoration: none; /* リセット用 */

  @media (hover: hover) {
    transition: opacity 0.2s ease;

    &:where(:any-link):hover {
      opacity: 0.7;
    }
  }
}

/* PDFプレビュー
------------------------------ */
.column-pdf-image {
  max-width: 100%;
  border: solid 1px global.$acms-color-gray70;
}
