@use "sass:math";
@use "../../global/common" as global;

/* ------------------------------
 地図
------------------------------ */
.column-map,
.column-street-view {
  margin-block: var(--unit-margin-top) var(--unit-margin-bottom);
}

:where(.column-map div:has(> .js-open-street-map)),
:where(.column-map div:has(> .js-s2d-ready)),
:where(.column-street-view div:has(> .js-street-view)) {
  max-width: 100%;
}

:where(.column-map .js-open-street-map),
:where(.column-map .js-s2d-ready),
:where(.column-street-view .js-street-view) {
  aspect-ratio: 16 / 9; /* デフォルトのアスペクト比 */
  border-radius: var(--border-radius-lg);
}
