@use "../global/acms-common" as acms;
@use "../global/common" as global;

/* ------------------------------
 グループユニット
------------------------------ */
.#{acms.$entry-class} {
  /* 全てのグループ・ユニット */
  [class*="gu-"] {
    @include acms.media-breakpoint-up(md) {
      .pricing-group {
        margin-bottom: 0;
      }
    }
  }

  .gu-bg-gray {
    background: var(--color-gray10);
    border-radius: var(--border-radius-lg);
  }

  .gu-bg-primary {
    background: var(--color-primary-light);
    border-radius: var(--border-radius-lg);
  }

  .gu-bg-gray,
  .gu-bg-primary,
  .gu-border {
    padding: var(--entry-el-padding-md);
    margin: 0 0 var(--entry-el-margin-md) 0;

    > *:not(.not-editor-style):first-child,
    > *:first-child.column-block-editor > *:first-child {
      margin-top: 0;
    }

    > *:not(.not-editor-style):last-child,
    > *:last-child.column-block-editor > *:last-child {
      margin-bottom: 0;
    }
  }

  .gu-border {
    position: relative;

    &::before {
      position: absolute;
      inset: 0;
      z-index: -1;
      content: "";
      border: var(--border-width-sm) solid var(--color-gray30);
      border-radius: var(--border-radius-lg);
    }
  }

  .gu-narrow {
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
}
