@use "global/acms-common" as acms;
@use "global/common" as global;

/* ------------------------------
　　リスト
------------------------------ */

/* アーカイブリスト、カテゴリーリスト
------------------------------ */
.list-group {
  padding: 0;
  margin: 0 calc(var(--unit-gutter-var) / -4);
  list-style: none;
}

.list-group-item {
  display: flex;
  gap: 6px;
  align-items: center;
  padding: 0.75rem 0.5rem;
  font-weight: normal;
  color: currentcolor;
  text-decoration: none;
  transition: background-color 0.3s ease;

  + .list-group {
    margin: 0;
    border: 0;
  }

  &:hover {
    background-color: var(--color-hover-bg-2nd);

    .badge-pill {
      background-color: var(--color-white);
    }
  }

  .badge-pill {
    margin-left: auto;
    transition: background-color 0.3s ease;
  }
}

.list-group .list-group .list-group-item {
  &::before {
    display: inline-block;
    width: 0.75rem;
    height: 0.75rem;
    content: "";
    background-image: url("#{global.$root-theme-img}icon-color/list-before-gray.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0.375rem;
  }
}
