@use "sass:map";
@use "global/acms-common" as acms;
@use "global/common" as global;

/* ------------------------------
　　事業紹介
------------------------------ */

/* 事業一覧
------------------------------ */

/* 事業一覧用見出し */
.service-card-title,
.#{acms.$entry-class} .service-card-title {
  margin: 0;
  font-size: map.get(global.$font-scales, heading-ss);
  font-weight: bold;
  line-height: var(--line-height-base);
  color: var(--color-text);

  @include acms.media-breakpoint-up(md) {
    font-size: map.get(global.$font-scales, heading-s);
  }
}

/* 事例一覧用サービス名ラベル */
.service-card-work-name,
.#{acms.$entry-class} .service-card-work-name {
  margin: 0;
  font-size: map.get(global.$font-scales, body-m);
  font-weight: bold;
  line-height: var(--line-height-lg);
  color: var(--color-text);
}
