@use "sass:map";
@use "global/acms-common" as acms;
@use "global/common" as global;

/* ------------------------------
　　アコーディオン
------------------------------ */
.toggle-button {
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  font-family: inherit;
  color: var(--color-text);
  text-align: left;
  text-decoration: none;;
  background: none;
  border: 0;

  &.js-post-include-disabled {
    color: inherit;
    opacity: 1;
  }
}

.toggle-icon {
  width: 1.75rem;
  height: auto;
  aspect-ratio: 1 / 1;
  margin-left: auto;
  line-height: 1;
  color: var(--color-text);
  transition: .3s ease;

  .toggle-button.is-active & {
    transform: rotate(180deg);
  }

  svg {
    width: 100%;
    height: 100%;
    color: inherit;
    object-fit: contain;

    path {
      stroke: currentcolor;
    }
  }

  @include acms.media-breakpoint-up(md) {
    width: 2rem;
  }
}

.toggle-body-contents {
  display: none;
}
