@charset "utf-8";

// グローバルメンバーファイル acms.css兼用
@forward "global/acms-common";

// グローバルメンバーファイル テーマ専用
@forward "global/common";

// ベース
@use "base";

// ライブラリ
@use "override-js";
@use "splide";

// パーツ
@use "animation";
@use "badge-label";
@use "banner";
@use "button";
@use "content-loading";
@use "calendar";
@use "related-site";
@use "cta";
@use "global-nav";
@use "global-mobile-nav";
@use "headline";
@use "form";
@use "list";
@use "local-nav";
@use "main-visual";
@use "media";
@use "page-title";
@use "pager";
@use "popup";
@use "profile";
@use "search-form";
@use "tag";
@use "topicpath";
@use "type";
@use "video-modal";

// コンテンツ
@use "entry";
@use "not-found";
@use "section";
@use "section-side";

// レイアウト
@use "footer";
@use "header";

// 追加コンテンツ
@use "blog";
@use "recruit";
@use "option/works";
@use "option/event";
